{strip}

<header class="page-header" {if $Site->getAttribute('image_emotion')}style="background-image: url({image src=$Site->getAttribute('image_emotion') onlysrc=1});{/if}">
    <div class="page-header-container grid-container">

        {if $showPageTitle}
        <h1 class="page-header-text-title">
            {$Site->getAttribute('title')}
        </h1>
        {/if}

        {if $showPageShort}
        <div class="page-header-text-short">
            {$Site->getAttribute('short')|nl2br}
        </div>
        {/if}

    </div>
</header>
{/strip}