{assign var=Setting value=$Template->getAttribute('TemplateSetting')}
{assign var=MegaMenu value=$Setting->getAttribute('MegaMenu')}
{assign var=t value=$MegaMenu->prependHTML({fetch template="template/menu/prefix.html" Site=$Site Template=$Template})}
{assign var=t value=$MegaMenu->appendHTML({fetch template="template/menu/suffix.html" Site=$Site Template=$Template})}

{assign var=navInitialTransparentClass value=''}
{if $Setting->getAttribute('navInitialTransparent')}
    {assign var=navInitialTransparentClass value='header-bar--initial-transparent'}
{/if}

<div class="header-bar {$navInitialTransparentClass}">
    <div class="grid-container header-bar-inner">
        <div class="header-bar-inner-nav" id="navigation">
            {$MegaMenu->create()}
        </div>
    </div>
</div>
