{assign var=headerBricks value=$BricksManager->getBricksByArea('header', $Site)}
{assign var=headerSuffix value=$BricksManager->getBricksByArea('headerSuffix', $Site)}
{assign var=footerPrefix value=$BricksManager->getBricksByArea('footerPrefix', $Site)}

<div class="body-container">
    {template_event name="quiqqer::template::body::pageBegin" Template=$Template}

    {fetch template="template/page/header.html" showPageTitle=$showPageTitle showPageShort=$showPageShort showHeader=$showHeader Site=$Site Template=$Template}
    
    {template_event name="quiqqer::template::body::afterHeader" Template=$Template}

    {*<!-- header brick area (only for start page) -->*}
    {if $startPage}
        {if !empty($headerBricks)}
        <div class="tpl-brickArea-header">
            {foreach from=$headerBricks item=Brick}
                {fetch template="template/bricks/brick.html" Brick=$Brick brickArea="header" Template=$Template}
            {/foreach}
        </div>
        {/if}
    {/if}

    {fetch template="template/page/breadcrumb.html" showBreadcrumb=$showBreadcrumb Breadcrumb=$Breadcrumb}
    {template_event name="quiqqer::template::body::afterBreadcrumb" Template=$Template}

    {*<!-- header suffix -->*}
    {if !empty($headerSuffix)}
        <div class="tpl-brickArea-headerSuffix">
            {foreach $headerSuffix as $Brick}
                {fetch template="template/bricks/brick.html" Brick=$Brick brickArea="headerSuffix" Template=$Template}
            {/foreach}
        </div>
    {/if}

    {template_event name="quiqqer::template::body::beforeMain" Template=$Template}
    <div class="main-contentWrapper grid-container">
        {$Template->getLayout()}
    </div>
    {template_event name="quiqqer::template::body::afterMain" Template=$Template}

    {*<!-- footer prefix -->*}
    {if !empty($footerPrefix)}
        <div class="tpl-brickArea-prefixFooter">
            {foreach $footerPrefix as $Brick}
                {fetch template="template/bricks/brick.html" Brick=$Brick brickArea="footerPrefix" Template=$Template}
            {/foreach}
        </div>
    {/if}

    {template_event name="quiqqer::template::body::beforeFooter" Template=$Template}

    {if $Template->getAttribute('template-footer')}
        {fetch template="template/footer.html" BricksManager=$BricksManager
        Site=$Site socialFooter=$socialFooter Template=$Template}
    {/if}

    <a href="#top" class="toTop" style="outline: none;">
        <i class="fa fa-arrow-up control-background"></i>
    </a>
    
    {template_event name="quiqqer::template::body::pageEnd" Template=$Template}
</div>