<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <project>

        <settings>
            <config>
                <section name="templatePresentation.settings">

                    <!-- general settings -->
                    <conf name="showTitle">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>hide</defaultvalue>
                    </conf>
                    <conf name="showShort">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>hide</defaultvalue>
                    </conf>
                    <conf name="bgColorSwitcherPrefix">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>hide</defaultvalue>
                    </conf>
                    <conf name="bgColorSwitcherSuffix">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>hide</defaultvalue>
                    </conf>
                    <conf name="dropdownLangNav">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>hide</defaultvalue>
                    </conf>

                    <!-- nav bar -->
                    <conf name="navBarHeight">
                        <type><![CDATA[integer]]></type>
                        <defaultvalue>80</defaultvalue>
                    </conf>
                    <conf name="navPos">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>scroll</defaultvalue>
                    </conf>
                    <conf name="navBarMainColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#2d4d88</defaultvalue>
                    </conf>
                    <conf name="navBarFontColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#ffffff</defaultvalue>
                    </conf>

                    <conf name="mobileFontColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#ffffff</defaultvalue>
                    </conf>
                    <conf name="mobileMenuBackground">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#252122</defaultvalue>
                    </conf>

                    <conf name="search">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>inputAndIcon</defaultvalue>
                    </conf>

                    <!-- nav / menu: independent -->
                    <conf name="enableIndependentMenu">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="menuId">
                        <type><![CDATA[integer]]></type>
                    </conf>
                    <conf name="showFirstLevelIcons">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>

                    <!-- show header -->
                    <conf name="showHeaderStartPage">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="showHeaderNoSidebar">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="showHeaderNoSidebarSmall">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="showHeaderLeftSidebar">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="showHeaderRightSidebar">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>

                    <!-- show breadcrumb -->
                    <conf name="showBreadcrumbStartPage">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="showBreadcrumbNoSidebar">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="showBreadcrumbNoSidebarSmall">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="showBreadcrumbLeftSidebar">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="showBreadcrumbRightSidebar">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>

                    <!-- header height -->
                    <conf name="headerHeightValue">
                        <type><![CDATA[integer]]></type>
                        <defaultvalue>300</defaultvalue>
                    </conf>
                    <conf name="headerImagePosition">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>center</defaultvalue>
                    </conf>

                    <!-- colors -->
                    <conf name="colorMainContentFont">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#3b3b3a</defaultvalue>
                    </conf>
                    <conf name="colorMain">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#2D4D88</defaultvalue>
                    </conf>
                    <conf name="buttonFontColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#ffffff</defaultvalue>
                    </conf>
                    <conf name="colorFooterBackground">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#eeeeee</defaultvalue>
                    </conf>
                    <conf name="colorFooterFont">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#333333</defaultvalue>
                    </conf>

                    <!-- social -->
                    <conf name="social.show.nav">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="social.show.footer">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="social.facebook">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="social.twitter">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="social.google">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="social.youtube">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="social.github">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="social.gitlab">
                        <type><![CDATA[string]]></type>
                    </conf>
                </section>
            </config>

            <window>
                <categories>
                    <category name="templatePresentation">
                        <text>
                            <locale group="quiqqer/template-presentation"
                                    var="templatePresentation.settings.menu.title"
                            />
                        </text>
                        <icon>URL_BIN_DIR/22x22/quiqqer.png</icon>


                        <!-- Background Color Switcher Prefix / Suffix -->
                        <settings title="templatePresentation.settings"
                                  name="templatePresentation.settings.general">
                            <title>
                                <locale group="quiqqer/template-presentation"
                                        var="templatePresentation.settings.general.title"
                                />
                            </title>

                            <!-- show title -->
                            <input conf="templatePresentation.settings.showTitle" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.showTitle.text"
                                    />
                                </text>
                            </input>

                            <!-- show short description -->
                            <input conf="templatePresentation.settings.showShort" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.showShort.text"
                                    />
                                </text>
                            </input>

                            <!-- Background Color Switcher Prefix -->
                            <select conf="templatePresentation.settings.bgColorSwitcherPrefix">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.bgColorSwitcherPrefix.text"
                                    />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.bgColorSwitcherPrefix.desc"
                                    />
                                </description>

                                <option value="hide">
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.bgColorSwitcher.hide"
                                    />
                                </option>
                                <option value="display">
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.bgColorSwitcher.display"
                                    />
                                </option>
                            </select>

                            <!-- Background Color Switcher Suffix-->
                            <select conf="templatePresentation.settings.bgColorSwitcherSuffix">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.bgColorSwitcherSuffix.text"
                                    />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.bgColorSwitcherSuffix.desc"
                                    />
                                </description>

                                <option value="hide">
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.bgColorSwitcher.hide"
                                    />
                                </option>
                                <option value="display">
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.bgColorSwitcher.display"
                                    />
                                </option>
                            </select>


                            <!-- Dropdown Language Switch in top nav -->
                            <select conf="templatePresentation.settings.dropdownLangNav">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.dropdownLangNav.title"
                                    />
                                </text>

                                <option value="hide">
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.dropdownLangNav.hide"
                                    />
                                </option>
                                <option value="flag">
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.dropdownLangNav.flag"
                                    />
                                </option>
                                <option value="text">
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.dropdownLangNav.text"
                                    />
                                </option>
                                <option value="flagAndText">
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.dropdownLangNav.flagAndText"
                                    />
                                </option>
                            </select>

                        </settings>


                        <!-- show header -->
                        <settings title="templatePresentation.settings"
                                  name="templatePresentation.settings.showHeader">
                            <title>
                                <locale group="quiqqer/template-presentation"
                                        var="templatePresentation.settings.showHeader.title"
                                />
                            </title>

                            <text>
                                <locale group="quiqqer/template-presentation"
                                        var="showHeader.desc"
                                />
                            </text>

                            <!-- start page -->
                            <input conf="templatePresentation.settings.showHeaderStartPage"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="admin.layout.startpage"
                                    />
                                </text>
                            </input>
                            <!-- no sidebar -->
                            <input conf="templatePresentation.settings.showHeaderNoSidebar"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="admin.layout.noSidebar"
                                    />
                                </text>
                            </input>
                            <!-- no sidebar thin-->
                            <input conf="templatePresentation.settings.showHeaderNoSidebarSmall"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="admin.layout.noSidebarSmall"
                                    />
                                </text>
                            </input>
                            <!-- left sidebar -->
                            <input conf="templatePresentation.settings.showHeaderLeftSidebar"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="admin.layout.leftSidebar"
                                    />
                                </text>
                            </input>
                            <!-- right sidebar -->
                            <input conf="templatePresentation.settings.showHeaderRightSidebar"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="admin.layout.rightSidebar"
                                    />
                                </text>
                            </input>

                            <!-- header height-->
                            <input conf="templatePresentation.settings.headerHeightValue" type="number">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.headerHeightValue.text"
                                    />
                                </text>
                            </input>

                            <select conf="templatePresentation.settings.headerImagePosition">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.headerImagePosition.text"
                                    />
                                </text>

                                <option value="top">
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.headerImagePosition.top"
                                    />
                                </option>
                                <option value="center">
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.headerImagePosition.center"
                                    />
                                </option>
                                <option value="bottom">
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.headerImagePosition.bottom"
                                    />
                                </option>
                            </select>
                        </settings>


                        <!-- breadrcumb -->
                        <settings title="templatePresentation.settings"
                                  name="templatePresentation.breadcrumb.settings">
                            <title>
                                <locale group="quiqqer/template-presentation"
                                        var="templatePresentation.breadcrumb.settings.title"
                                />
                            </title>

                            <!-- no breadcrumb? -->
                            <text>
                                <locale group="quiqqer/template-presentation"
                                        var="showBreadcrumb.text"/>
                            </text>
                            <input conf="templatePresentation.settings.showBreadcrumbStartPage"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="admin.layout.startpage"
                                    />
                                </text>
                            </input>
                            <input conf="templatePresentation.settings.showBreadcrumbNoSidebar"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="admin.layout.noSidebar"
                                    />
                                </text>
                            </input>
                            <input conf="templatePresentation.settings.showBreadcrumbNoSidebarSmall"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="admin.layout.noSidebarSmall"
                                    />
                                </text>
                            </input>
                            <input conf="templatePresentation.settings.showBreadcrumbLeftSidebar"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="admin.layout.leftSidebar"
                                    />
                                </text>
                            </input>
                            <input conf="templatePresentation.settings.showBreadcrumbRightSidebar"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="admin.layout.rightSidebar"
                                    />
                                </text>
                            </input>
                        </settings>


                        <!-- nav bar -->
                        <settings title="templatePresentation.settings"
                                  name="templatePresentation.settings.navBar">
                            <title>
                                <locale group="quiqqer/template-presentation"
                                        var="templatePresentation.settings.navBar.title"
                                />
                            </title>

                            <!-- nav bar height -->
                            <input conf="templatePresentation.settings.navBarHeight" type="number">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.navBar.Height.text"
                                    />
                                </text>
                            </input>

                            <!-- Menüposition -->

                            <select conf="templatePresentation.settings.navPos">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.navPos.text"
                                    />
                                </text>

                                <description>
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.navPos.description"
                                    />
                                </description>

                                <option value="fix">
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.navPos.fix"
                                    />
                                </option>
                                <option value="scroll">
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.navPos.scroll"
                                    />
                                </option>


                            </select>

                            <!-- search -->
                            <select conf="templatePresentation.settings.search">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.search.text"
                                    />
                                </text>


                                <option value="input">
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.search.input"
                                    />
                                </option>
                                <option value="inputAndIcon">
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.search.inputAndIcon"
                                    />
                                </option>
                                <option value="hide">
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.search.hide"
                                    />
                                </option>
                            </select>

                            <!-- nav bar / menu colors -->
                            <input conf="templatePresentation.settings.navBarMainColor"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.navBarMainColor.text"
                                    />
                                </text>
                            </input>
                            <input conf="templatePresentation.settings.navBarFontColor"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.navBarFontColor.text"
                                    />
                                </text>
                            </input>

                            <!-- mobile menu (mega menu) -->
                            <input conf="templatePresentation.settings.mobileFontColor"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.mobileFontColor"
                                    />
                                </text>
                            </input>
                            <input conf="templatePresentation.settings.mobileMenuBackground"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="templatePresentation.settings.mobileMenuBackground"
                                    />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-presentation"
                                            var="template.settings.mobileMenuBackground.desc"
                                    />
                                </description>
                            </input>
                        </settings>

                        <!-- Nav / menu: independent -->
                        <settings title="templatePresentation.settings"
                                  name="templatePresentation.settings.independentMenu">
                            <title>
                                <locale group="quiqqer/template-presentation"
                                        var="templatePresentation.settings.independentMenu.title"
                                />
                            </title>

                            <input conf="templatePresentation.settings.enableIndependentMenu"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="template.settings.independentMenu.enableIndependentMenu"
                                    />
                                </text>
                            </input>

                            <input conf="templatePresentation.settings.menuId"
                                   type="text"
                                   data-qui="package/quiqqer/menu/bin/Controls/Independent/Input">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="template.settings.independentMenu.menuId"
                                    />
                                </text>

                                <description>
                                    <locale group="quiqqer/template-presentation"
                                            var="template.settings.independentMenu.menuId.desc"
                                    />
                                </description>
                            </input>

                            <input conf="templatePresentation.settings.showFirstLevelIcons"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="template.settings.independentMenu.showFirstLevelIcons"
                                    />
                                </text>
                            </input>
                        </settings>

                        <!-- Colors -->
                        <settings title="templatePresentation.settings"
                                  name="templatePresentation.settings.color">
                            <title>
                                <locale group="quiqqer/template-presentation"
                                        var="templatePresentation.settings.color.title"
                                />
                            </title>

                            <input conf="templatePresentation.settings.colorMainContentFont"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="template.settings.colorMainContentFont.text"
                                    />
                                </text>
                            </input>

                            <input conf="templatePresentation.settings.colorMain"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="template.settings.colorMain.text"
                                    />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-presentation"
                                            var="template.settings.colorMain.description"
                                    />
                                </description>
                            </input>

                            <input conf="templatePresentation.settings.buttonFontColor"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="template.settings.buttonFontColor.text"
                                    />
                                </text>
                            </input>

                            <text>
                                <locale group="quiqqer/template-presentation"
                                        var="templatePresentation.settings.footerColor.text"
                                />
                            </text>
                            <input conf="templatePresentation.settings.colorFooterBackground"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="template.settings.colorFooterBackground.text"
                                    />
                                </text>
                            </input>
                            <input conf="templatePresentation.settings.colorFooterFont"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="template.settings.colorFooterFont.text"
                                    />
                                </text>
                            </input>

                        </settings>

                        <!-- social icons -->
                        <settings title="templatePresentation.settings"
                                  name="templatePresentation.social.settings">
                            <title>
                                <locale group="quiqqer/template-presentation"
                                        var="social.settings.title"
                                />
                            </title>

                            <!-- show social on nav? -->
                            <input conf="templatePresentation.settings.social.show.nav"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="social.show.nav"
                                    />
                                </text>
                            </input>

                            <!-- show social on the footer? -->
                            <input conf="templatePresentation.settings.social.show.footer"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="social.show.footer"
                                    />
                                </text>
                            </input>

                            <text>
                                <locale group="quiqqer/template-presentation"
                                        var="social.linksNote"
                                />
                            </text>

                            <!-- facebook -->
                            <input conf="templatePresentation.settings.social.facebook"
                                   placeholder="https://www.facebook.com"
                                   type="text">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="social.facebook"
                                    />
                                </text>
                            </input>
                            <!-- twitter -->
                            <input conf="templatePresentation.settings.social.twitter"
                                   placeholder="https://www.twitter.com"
                                   type="text">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="social.twitter"
                                    />
                                </text>
                            </input>
                            <!-- google -->
                            <input conf="templatePresentation.settings.social.google"
                                   placeholder="https://www.google.com"
                                   type="text">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="social.google"
                                    />
                                </text>
                            </input>
                            <!-- youtube -->
                            <input conf="templatePresentation.settings.social.youtube"
                                   placeholder="https://www.youtube.com"
                                   type="text">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="social.youtube"
                                    />
                                </text>
                            </input>
                            <!-- github -->
                            <input conf="templatePresentation.settings.social.github"
                                   placeholder="https://www.github.com"
                                   type="text">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="social.github"
                                    />
                                </text>
                            </input>
                            <!-- gitlab -->
                            <input conf="templatePresentation.settings.social.gitlab"
                                   placeholder="https://www.gitlab.com"
                                   type="text">
                                <text>
                                    <locale group="quiqqer/template-presentation"
                                            var="social.gitlab"
                                    />
                                </text>
                            </input>
                        </settings>

                    </category>
                </categories>

            </window>
        </settings>

        <wysiwyg class="main-content">
            <css src="//fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic"/>
            <css src="URL_OPT_DIR/quiqqer/template-presentation/bin/css/variables.css"/>
            <css src="URL_OPT_DIR/quiqqer/template-presentation/bin/css/fonts.css"/>
            <css src="URL_OPT_DIR/quiqqer/template-presentation/bin/css/style.css"/>
            <css src="URL_OPT_DIR/quiqqer/template-presentation/bin/css/editor.css"/>

            <styles>
                <style element="p">
                    <locale group="quiqqer/template-presentation"
                            var="editor.element.textLead"/>
                    <attributes>
                        <attribute name="class">text-lead</attribute>
                    </attributes>
                </style>

                <!-- Template Button small -->
                <style element="a">
                    <locale group="quiqqer/template-presentation"
                            var="templateButton.small"/>
                    <attributes>
                        <attribute name="class">button button__small</attribute>
                    </attributes>
                </style>
                <!-- Template Button default -->
                <style element="a">
                    <locale group="quiqqer/template-presentation"
                            var="templateButton.medium"/>
                    <attributes>
                        <attribute name="class">button button__medium</attribute>
                    </attributes>
                </style>

                <!-- Template Button large -->
                <style element="a">
                    <locale group="quiqqer/template-presentation"
                            var="templateButton.large"/>
                    <attributes>
                        <attribute name="class">button button__large</attribute>
                    </attributes>
                </style>

                <!-- Template Button ghost (white) -->
                <style element="a">
                    <locale group="quiqqer/template-presentation"
                            var="templateButton.ghost.white"/>
                    <attributes>
                        <attribute name="class">button button__ghost</attribute>
                    </attributes>
                </style>

                <!-- Template Button icon: download -->
                <style element="a">
                    <locale group="quiqqer/template-presentation"
                            var="templateButton.download"/>
                    <attributes>
                        <attribute name="class">button button-download</attribute>
                    </attributes>
                </style>

                <!-- Template Button icon: arrow -->
                <style element="a">
                    <locale group="quiqqer/template-presentation"
                            var="templateButton.arrow"/>
                    <attributes>
                        <attribute name="class">button button-arrow</attribute>
                    </attributes>
                </style>
            </styles>
        </wysiwyg>

    </project>
</quiqqer>