/**
 * This file contains form styles
 */

input, textarea, select {
    color: var(--qui-input-color);
    background-color: var(--qui-input-backgroundColor);
    border: var(--qui-input-borderWidth) var(--qui-input-borderStyle) var(--qui-input-borderColor);
    border-radius: var(--qui-input-borderRadius);
    box-shadow: none;
    font-size: 1em;
    line-height: inherit;
    outline: none;
    padding: 0.5em 1.25em;
}

input:focus {
    background: none;
    box-shadow: none;
    outline: none;
}

textarea {
    -moz-appearance: none;
    -webkit-appearance: none;

    appearance: none;
    min-height: 10em;
}

/* select styling with arrow set als background */
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("/packages/quiqqer/template-presentation/bin/img/arrow-select.png");
    background-position: calc(100% - 20px) center;
    background-repeat: no-repeat;
    background-size: 20px auto;
    padding-right: 60px;

    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type='checkbox'],
input[type='radio'] {
    margin-right: 10px;
    vertical-align: middle;
}

::-webkit-input-placeholder {
    color: var(--qui-input-placeholder-color);
    font-size: inherit;
}

::-moz-placeholder {
    color: var(--qui-input-placeholder-color);
    font-size: inherit;
}

:-ms-input-placeholder {
    color: var(--qui-input-placeholder-color);
    font-size: inherit;
}

textarea:focus::-moz-placeholder,
input:focus::-moz-placeholder {
    color: var(--qui-input-placeholder-color);
    font-size: inherit;
}

legend,
.qui-form legend {
    font-weight: inherit;
}

fieldset.grid-50:first-child {
    padding-left: 0;
}

fieldset.grid-50:last-child {
    padding-right: 0;
}

fieldset {
    border: none;
}

textarea,
input {
    transition: var(--qui-input-transition);
}

textarea:hover,
input:hover,
select:hover {
    border-color: var(--qui-input-borderColor--hover);
}

textarea:focus,
input:focus,
select:focus {
    border-color: var(--qui-input-borderColor--focus);
}
