@import "variables/badges.css";
@import "variables/border.css";
@import "variables/buttons.css";
@import "variables/colors.css";
@import "variables/general.css";
@import "variables/nav.css";
@import "variables/typography.css";

/* todo: remove */

/*@import "reset.css";*/
@import "buttons.css";
@import "badges.css";
@import "fonts.css";
@import "form.css";
@import "nav.css";
@import "footer.css";
@import "typography.css";
@import "style.css";

/* utilities */
@import "utility/buttons.css";
@import "utility/text.css";
