@import "variables/badges.css";
@import "variables/border.css";
@import "variables/buttons.css";
@import "variables/colors.css";
@import "variables/general.css";
@import "variables/nav.css";
@import "variables/typography.css";

/* todo: remove */

/* base */
@import "normalize.css"; /* css reset */
@import "fonts.css";
@import "form.css";
@import "nav.css";
@import "footer.css";
@import "typography.css";
@import "style.css";

/* components */
@import "components/badges.css";
@import "components/buttons.css";
@import "components/messages.css";


/* utilities */
@import "utility/buttons.css";
@import "utility/colors.css";
@import "utility/spacing.css";
@import "utility/text.css";
