/**
 * This file contains header bar and page navigation styles
 */

.slideout-panel {
    background-color: var(--qui-colors-body-bgColor) !important;
}

/**
 * Header bar
 */

/* all styles */
.header-bar:not(.header-bar--style-none) {
    /* control MegaMenu */
    --qui-megaMenu-link-color: var(--qui-nav-link-color);
    --qui-megaMenu-link-color--hover: var(--qui-nav-link-color--hover);
    --qui-megaMenu-link-bgColor--hover: var(--qui-nav-link-bgColor--hover);

    /* template */
    --_bg: var(--qui-nav-bgColor);
}

/* header bar styling */
.header-bar {
    position: var(--qui-nav-position);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    /* fix jumping nav in chrome */
    -o-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: 0.25s all ease-in-out;
    width: 100%;
    z-index: 10;
}

.header-bar .header-bar-container {
    transition: 0.25s all ease-in-out;
    height: var(--qui-nav-height);
    background-color: var(--_bg);
}

.header-bar-inner {
    max-width: var(--qui-nav-maxWidth);
    margin-inline: auto;
    align-items: center;
    display: flex;
    height: 100%;
}

.header-bar-inner-nav {
    width: 100%;
}

.header-bar--initial-transparent:not(.header-bar--scrolled) .header-bar-container {
    /* control MegaMenu */
    --qui-megaMenu-link-color: var(--qui-nav-initialTransparent-link-color);
    --qui-megaMenu-link-color--hover: var(--qui-nav-initialTransparent-link-color--hover);
    --qui-megaMenu-link-bgColor--hover: var(--qui-nav-initialTransparent-link-bgColor--hover);

    /* template */
    --_bg: transparent;
}

/********/
/* Logo */
/********/
.header-bar-logo {
    margin-right: 1rem;
    padding-block: 10px;
}

.header-bar-logo__link {
    align-items: center;
    display: flex;
    height: 100%;
    max-height: 100%;
}

.header-bar-logo__link:hover {
    background: none;
    box-shadow: none;
}

/**
 * 1. width and height are set in html file template/menu/prefix.html
 */
.header-bar-logo__img {
    display: block;
    width: var(--logo-width); /* 1 */
    height: var(--logo-height); /* 1 */
}


/* mega menu
 * ========================================================== */

.quiqqer-menu-megaMenu .quiqqer-menu-megaMenu-list {
    flex-grow: 1;
    justify-content: var(--qui-nav-alignment);
}

.quiqqer-menu-megaMenu-list-item-inner .quiqqer-icon {
    width: 1.5rem;
}


/* mobile menu */
.quiqqer-menu-megaMenu-mobile-openerBtn {
    align-items: center;
}

.quiqqer-menu-megaMenu-mobile-openerBtn :where(.label) {
    display: none;
}

.slideout-menu .page-menu {
    background-color: var(--qui-nav-mobile-bg);
}

.slideout-menu .page-navigation-home,
.slideout-menu .left-menu-a,
.slideout-menu .page-menu-close {
    color: var(--qui-nav-mobile-font-color);
}


/** page header suggest search
* ========================================================== */

.header-bar__search :where(.searchForm) {
    position: relative;
}

.header-bar__search :where(.searchForm__input) {
    color: var(--qui-nav-search-input-color);
    background: var(--qui-nav-search-input-bgColor);
    border-color: var(--qui-nav-search-input-borderColor);
    margin-block: 0;
    padding-block: 0.25rem;
}

.searchForm__input::placeholder {
    color: var(--qui-nav-search-input-placeholder-color);
    opacity: 1;
}

.searchForm__input::-webkit-input-placeholder {
    color: var(--qui-nav-search-input-placeholder-color);
    opacity: 1;
}

.searchForm__input:-ms-input-placeholder {
    color: var(--qui-nav-search-input-placeholder-color);
    opacity: 1;
}

.searchForm__input::-ms-input-placeholder {
    color: var(--qui-nav-search-input-placeholder-color);
    opacity: 1;
}

.header-bar__search :where(.searchForm__input):is(:hover, :focus){
    color: var(--qui-nav-search-input-color--hover);
    background: var(--qui-nav-search-input-bgColor--hover);
    border-color: var(--qui-nav-search-input-borderColor--hover);
}

/**
1. move icon search at the end of navigation
 */
/*.header-bar-suggestSearch--type-icon {*/
/*    order: 10; !* 1 *!*/
/*}*/

/*.header-bar-suggestSearch-wrapper {*/
/*    background: transparent;*/
/*    height: 100%;*/
/*    opacity: 0;*/
/*    position: absolute;*/
/*    right: 0;*/
/*    transition: 0.3s all ease-in-out;*/
/*    visibility: hidden;*/
/*    width: 200px;*/
/*}*/

/*.header-bar-suggestSearch .fa {*/
/*    background: rgba(255, 255, 255, 0);*/
/*    cursor: pointer;*/
/*    line-height: 40px;*/
/*    position: relative;*/
/*    right: 0;*/
/*    top: 0;*/
/*    width: 40px;*/
/*}*/

/*.header-bar-suggestSearch .fa:hover,*/
/*.header-bar-suggestSearch.showSearch .fa {*/
/*    background: rgba(0, 0, 0, 0.1);*/
/*}*/

/*.header-bar-suggestSearch input[type="search"].input-and-icon {*/
/*    background: #fff;*/
/*    border: none;*/
/*    border-radius: 0;*/
/*    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);*/
/*    color: #333;*/
/*    line-height: 40px;*/
/*    margin: 0;*/
/*    padding: 0 10px;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    -moz-transform: translateY(-50%);*/
/*    -moz-transform: translateY(-50%);*/
/*    -ms-transform: translateY(-50%);*/
/*    -o-transform: translateY(-50%);*/
/*    -webkit-transform: translateY(-50%);*/
/*    transform: translateY(-50%);*/
/*    width: 100%;*/
/*    z-index: 1;*/
/*}*/

/* setting: only input field */
/*.header-bar-suggestSearch input[type="search"].only-input {*/
/*    background: rgba(255, 255, 255, 0.5);*/
/*    border: none;*/
/*    border-radius: 3px;*/
/*    box-shadow: none;*/
/*    color: #333;*/
/*    line-height: 20px;*/
/*    margin: 0;*/
/*    opacity: 0.6;*/
/*    padding: 6px 10px;*/
/*}*/

/*input[type="search"].only-input:hover,*/
/*input[type="search"].only-input:active,*/
/*input[type="search"].only-input:focus {*/
/*    opacity: 1;*/
/*}*/

/*.header-bar-suggestSearch.showSearch .header-bar-suggestSearch-wrapper {*/
/*    opacity: 1;*/
/*    right: 100%;*/
/*    visibility: visible;*/
/*}*/

/*
 * Header suffix
 */
.header-bar__suffix {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.header-bar__suffix.no-search {
    margin-right: 0;
}

.header-bar__suffix.input-search {
    margin-right: 10px;
}

.header-bar__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 0.5rem;
}

.header-bar__social :where(.social-link) {
    color: var(--qui-nav-link-color);
    aspect-ratio: 1;
    display: grid;
    min-width: 2em;
    place-items: center;
    text-decoration: none;
    position: relative;
    border-radius: var(--qui-radius-btn);
}

.header-bar__social :where(.social-link:before) {
    content: '';
    position: absolute;
    inset: -0.375rem;
}

.header-bar__social :where(.social-link):hover {
    /*color: var(--qui-nav-link-color--hover);*/
    background-color: var(--qui-nav-link-bgColor--hover);
}


@media screen and (max-width: 767px) {
    .page-navigation.page-navigation {
        padding-bottom: 90px;
    }

    .menuMobile-socialBar {
        bottom: 0;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
        left: 0;
        max-width: 500px; /* width of the package/quiqqer/menu/bin/SlideOut */
        position: fixed;
        width: 100%;
        z-index: 101;
        background-color: var(--qui-nav-mobile-social-bar-bg);
        text-align: center;
    }

    .menuMobile-socialBar__title {
        margin-top: 0.5rem;
        color: var(--qui-nav-mobile-font-color);
        font-size: var(--qui-fs-sm);
    }

    .menuMobile-socialBar__icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
    }

    .menuMobile-socialBar__icons :where(.social-link) {
        position: relative;
        aspect-ratio: 1;
        display: grid;
        min-width: 2em;
        place-items: center;
        text-decoration: none;
        font-size: 1rem;
        border-radius: var(--qui-radius-btn);
        color: var(--qui-nav-mobile-font-color);
    }

    .menuMobile-socialBar__icons :where(.social-link:hover, .social-link:focus) {
        background-color: rgba(0,0,0,0.1);
    }

    .menuMobile-socialBar__icons :where(.social-link:before) {
        content: '';
        position: absolute;
        inset: -0.375rem;
    }
}

/**
 * nav style: default with big buttons
 */
.header-bar--style-defaultWithBigButtons .quiqqer-menu-megaMenu__wrapperDesktop {
    align-items: stretch;
}

.header-bar--style-defaultWithBigButtons .quiqqer-menu-megaMenu-list-item {
    align-items: stretch;
}

.header-bar--style-defaultWithBigButtons .quiqqer-menu-megaMenu-list-item-inner {
    border-radius: 0;
    display: flex;
    gap: 0.5em;
    align-items: center;
}

/**
 * nav style: pill
 * 1.
 */
.header-bar--style-pill .header-bar-container {
    max-width: var(--qui-nav-maxWidth);
    margin-inline: auto;
    border-radius: 5rem;
    margin-top: 0.5rem;
    width: calc(100% - 1rem);
}
