@CHARSET "UTF-8";

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mobile-grid-5, .mobile-grid-10, .mobile-grid-15, .mobile-grid-20, .mobile-grid-25, .mobile-grid-30, .mobile-grid-35, .mobile-grid-40, .mobile-grid-45, .mobile-grid-50, .mobile-grid-55, .mobile-grid-60, .mobile-grid-65, .mobile-grid-70, .mobile-grid-75, .mobile-grid-80, .mobile-grid-85, .mobile-grid-90, .mobile-grid-95, .mobile-grid-100, .mobile-grid-33, .mobile-grid-66, .grid-5, .grid-10, .grid-15, .grid-20, .grid-25, .grid-30, .grid-35, .grid-40, .grid-45, .grid-50, .grid-55, .grid-60, .grid-65, .grid-70, .grid-75, .grid-80, .grid-85, .grid-90, .grid-95, .grid-100, .grid-33, .grid-66, .grid-container {
    padding-left: 20px;
    padding-right: 20px;
}

html {
    font-size: 100%;
    scroll-padding-top: var(--qui-scroll-padding);
}

.grid-parent,
.grid-container.grid-parent {
    padding-left: 0;
    padding-right: 0;
}

body {
    height: 100%;
    background-color: var(--qui-colors-body-bgColor);
}

/* todo @michael.daniel standardize names */
.color-main,
.control-color,
.mainColor {
    color: var(--qui-colors-primary);
}

.qui-sitetypes-sitemap-block-category .control-background {
    background-color: var(--qui-colors-primary);
}

/***********/
/* Spacing */
/***********/
/* margin */
.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.m-0 {
    margin: 0 !important;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.my-0 {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

/* padding */
.p-0 {
    padding: 0 !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.py-0 {
    padding-left: 0 !important;
    padding-top: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

video,
img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}

.noSidebar--narrowContent {
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
}

.body-container {
    padding-top: var(--qui-body-spacing-top);
}

.sidebox-button {
    background: #414141;
    color: #eee;
    padding: 10px 20px;
    text-decoration: none !important;
}

.sidebox-button:hover {
    box-shadow: none;
}

code {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 2px solid #efefef;
    border-radius: 0.35em;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

blockquote {
    border-left: 6px solid #efefef;
    font-style: italic;
    margin: 0 0 2em;
    padding: 0.5em 0 0.5em 1.5em;
}

pre {
    margin-bottom: 10px;
    max-width: 100%;
    overflow: auto;
}

pre code {
    display: block;
    line-height: 1.75em;
    overflow-x: auto;
    padding: 1em 1.5em;
}

.basic-company-preview-ul {
    list-style: none;
}

ul.basic-company-preview-ul {
    margin: 0 !important;
}

ul.basic-company-preview-ul > li {
    display: inline-block;
    list-style: none;
    width: 25%;
}

ul.basic-company-preview-ul > a,
ul.basic-company-preview-ul > span {
    margin: 0.5em 3em;
}

/***************/
/* Page layout */
/***************/
@media screen and (min-width: 768px) {
    .tpl-layout-two-columns {
        display: grid;
        grid-gap: 3rem;
    }

    .tpl-layout-two-columns--rightSidebar {
        grid-template-areas: "main sidebar";
        grid-template-columns: minmax(500px, 1fr) 30%;
    }

    .tpl-layout-two-columns--leftSidebar {
        grid-template-areas: "sidebar main";
        grid-template-columns: 30% minmax(500px, 1fr);
    }
}

.tpl-layout-two-columns__main {
    grid-area: main;
}

.tpl-layout-two-columns__sidebar {
    grid-area: sidebar;
}

/** page design
 * ========================================================== */
ul, ol {
    padding-left: 1.5rem;
}

li {
    padding-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

:where(li)::marker {
    color: var(--qui-colors-primary);
}

ul.alt li:first-child {
    border-top: 0 none;
    padding-top: 0;
}

ul.alt li {
    border-top: 2px solid #efefef;
    padding: 0.5em 0;
}

ul.alt {
    list-style: outside none none;
    padding-left: 0;
}

/*********/
/* Table */
/*********/
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

table {
    border-collapse: collapse;
    margin-bottom: 1rem;
    max-width: 100%;
    width: 100%;
}

tr {
    border-width: 1px 0;
}

th,
td {
    border-width: 0 1px;
}

th, td {
    padding: 0.5rem;
}

thead {
    font-weight: bold;
}

/** page header
 * ========================================================== */
.page-header {
    display: grid;
    padding-top: var(--qui-page-header-padding-block);
    padding-bottom: var(--qui-page-header-padding-block);
    position: relative;
    min-height: var(--qui-header-minHeight);
}

.page-header__imageWrapper {
    position: absolute;
    inset: 0;
}

.page-header__image {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
    object-position: var(--qui-header-img-position, center);
}

.page-header__container {
    position: relative;
    height: 100%;
    width: 100%;
}

.page-header-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: var(--qui-header-text-pos);
}

.page-header-text__title,
.page-header-text__short {
    color: var(--qui-header-text-color);
    text-align: var(--qui-header-text-aligment);
    width: 100%;
    max-width: 50rem;
}

.page-header-text__title {
    margin-bottom: 0;
}

.page-header-text__short {
    margin-top: 1.5rem;
}

/** promo slider dots
 * ========================================================== */

.body-container .quiqqer-bricks-promoslider-wallpaper-text,
.body-container .quiqqer-bricks-promoslider-wallpaper-text__right {
    margin-top: 100px;
}

.quiqqer-bricks-promoslider-wallpaper-text-description,
.quiqqer-bricks-promoslider-wallpaper-text header {
    background: none !important;
    color: #fff !important;
}

.header-brick-area .quiqqer-bricks-promoslider-wallpaper {
    height: 100vh !important;
}

/* dots */
span.quiqqer-bricks-promoslider-wallpaper-dot {
    background: none;
    box-shadow: none;
    margin: 0 16px 0 0;
    opacity: 0.9;
    position: relative;
}

span.quiqqer-bricks-promoslider-wallpaper-dot:before {
    border: 2px solid #ddd;
    border-radius: 50%;
    content: '';
    height: 100%;
    left: -2px;
    position: absolute;
    top: -2px;
    transition: all 0.3s ease-out;
    width: 100%;
}

span.quiqqer-bricks-promoslider-wallpaper-dot:after {
    background: #ddd;
    border: 2px solid #ddd;
    border-radius: 50%;
    content: '';
    height: 100%;
    left: -2px;
    position: absolute;
    top: -2px;
    transition: all 0.3s ease-out;
    width: 100%;
}

span.quiqqer-bricks-promoslider-wallpaper-dot:hover {
    background: none;
    opacity: 0.7;
}

span.quiqqer-bricks-promoslider-wallpaper-dot-active {
    background: none;
}

span.quiqqer-bricks-promoslider-wallpaper-dot-active:after {
    transform: scale(0);
}

.quiqqer-porfolio-reference-windowShort span.quiqqer-bricks-promoslider-wallpaper-dot {
    height: 12px;
    width: 12px;
}

/* promo slider arrow */
div.quiqqer-bricks-promoslider-wallpaper-next,
div.quiqqer-bricks-promoslider-wallpaper-prev {
    color: #ddd;
    opacity: 0.9;
    text-shadow: none;
}

/** portfolio / referenzen
 * ========================================================== */

/* extra wegen den festgesetzten 33% */
section.quiqqer-portfolio-list {
    left: -10px;
    width: calc(100% + 20px);
}




/*******************/
/* Template bricks */
/*******************/
.tpl-brick {
    color: var(--qui-tpl-brick-textColor);
    background-color: var(--qui-tpl-brick-backgroundColor);
}

/*
 * Top and bottom spacing depend on place where the brick is used.
 * "Full width bricks" are using padding-top and padding-bottom.
 * This are the following brick areas:
 *   - header
 *   - headerSuffix
 *   - footerPrefix
 *
 * "Column bricks" are using margin-top and margin-bottom
 * This are the following brick areas:
 *   - contentPrefix
 *   - contentSuffix
 *   - rightSidebar
 *   - leftSidebar
 */
.tpl-brickArea-rightSidebar__entry .tpl-brick__inner,
.tpl-brickArea-leftSidebar__entry .tpl-brick__inner,
.tpl-brickArea-contentPrefix__entry .tpl-brick__inner,
.tpl-brickArea-contentSuffix__entry .tpl-brick__inner {
    margin-top: var(--qui-tpl-spacing--top);
    margin-bottom: var(--qui-tpl-spacing--bottom);
}

.tpl-brickArea-header__entry .tpl-brick__inner,
.tpl-brickArea-headerSuffix__entry .tpl-brick__inner,
.tpl-brickArea-footerPrefix__entry .tpl-brick__inner {
    padding-top: var(--qui-tpl-spacing--top);
    padding-bottom: var(--qui-tpl-spacing--bottom);
}

/* brick with background image */
.tpl-brick--brickImage {
    position: relative;
}

.tpl-brick__imageBgWrapper {
    position: absolute;
    inset: 0;
}

.tpl-brick__imageBg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tpl-brick--brickImage .tpl-brick__inner {
    position: relative;
}

/* bricks separator / divider */
.tpl-brick__separator {
    text-align: center;
    position: relative;
}

.tpl-brick__separatorImage {
    display: block;
    margin-inline: auto;
    width: var(--qui-tpl-brick-separatorWidth, initial);
    height: var(--qui-tpl-brick-separatorHeight, initial);
}

/** page content
 * ========================================================== */

.tpl-presentation-row {
    padding-top: var(--qui-tpl-spacing--top);
    padding-bottom: var(--qui-tpl-spacing--bottom);
}

.content-header,
.content-body,
.content-template,
.control-template {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.content-short:not(:last-child),
.control-content:not(:last-child),
.control-body:not(:last-child) {
    margin-bottom: 3rem;
}

.page-footer .control-content:not(:last-child) {
    margin-bottom: var(--qui-row-spacing--small);
}

.main-content:where([role="main"]) {
    margin-top: var(--qui-tpl-spacing--top);
    margin-bottom: var(--qui-tpl-spacing--bottom);
}

.control-header {
    margin-bottom: 3rem;
    text-align: center;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    clear: both;
    float: left;
    margin: 3em 0;
    width: 100%;
}

.content-body ol,
.content-body ul {
    clear: both;
}

.content-body ol ol,
.content-body ol ul,
.content-body ul ul,
.content-body ul ol {
    clear: both;
}

p,
address {
    margin-bottom: var(--qui-spacing, 1rem);
}

address {
    font-style: normal;
}

.content-body p:last-child {
    margin-bottom: 0;
}

.content-body li p {
    margin: 0;
}

/** icon toTop
 * ========================================================== */

.toTop {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.5em;
    opacity: 0.3;
    z-index: 10;
    transform: scale(0);
    border-radius: 10px;
    min-width: 44px;
    min-height: 44px;
    display: grid;
    place-items: center;
    color: #fff;
}

.toTop__show {
    transform: scale(1);
}

.toTop:hover {
    opacity: 1;
}

/*********************************************************************************/
/* Nav style (in sidebar) navigation
/*********************************************************************************/

h2.quiqqer-navigation-title-style {
    color: #5d5d5d;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-left: 10px;
}

.quiqqer-navigation-level-1 > li {
    border-bottom: 1px solid #ddd;
}

.quiqqer-sidebar-dropdown-navigation .quiqqer-navigation-level-1 a,
.quiqqer-sidebar-dropdown-navigation a.quiqqer-navigation-firstpage {
    color: #5d5d5d;
    text-decoration: none;
}

.quiqqer-sidebar-dropdown-navigation .quiqqer-navigation-open,
.quiqqer-sidebar-dropdown-navigation .quiqqer-navigation-close {
    position: relative;
}

.quiqqer-fa-levels-icon:hover,
.quiqqer-navigation-level-1 a:hover,
a.quiqqer-navigation-home:hover,
.quiqqer-navigation-entry:hover .quiqqer-fa-list-icon {
    color: var(--qui-colors-primary);
}

/** responsive
 **************************************************/

@media screen and (max-width: 1024px) and (min-width: 768px) {
    li.nav-button-close {
        display: block !important;
    }
}

/*********************************************************************************/
/* Design standard
/*********************************************************************************/
/* todo @michael do we need this? */
.control-background {
    background: var(--qui-colors-primary);
}

/* todo @michael do we need this? */
.control-background-active {
    background: var(--qui-colors-primary);
    color: #FFFFFF;
}

/*********************************************************************************/
/* pagination
/*********************************************************************************/
.quiqqer-sheets-desktop {
    text-align: center;
}

.quiqqer-sheets-desktop a,
.quiqqer-sheets-desktop span {
    border-radius: 3px;
    color: #5d5d5d;
    float: none;
    margin-right: 2px !important;
    padding: 0 15px;
}

.quiqqer-sheets-desktop a:hover {
    background-color: var(--qui-colors-primary);
    border: 1px solid var(--qui-colors-primary);
    color: #fff;
}

.quiqqer-sheets-desktop .quiqqer-sheets-desktop-current {
    background: #D9D6D7;
    border: 1px solid #D9D6D7;
    border-radius: 3px;
    color: #333;
}

.quiqqer-sheets-desktop-disabled {
    border-color: #ccc !important;
    color: #ccc !important;
}

.quiqqer-pagination .quiqqer-sheets-desktop:last-child {
    margin: 40px 0;
}

.quiqqer-sheets-mobile select {
    margin-bottom: 20px;
    margin-top: 20px;
}

/*********************************************************************************/
/* gallery
/*********************************************************************************/
.quiqqer-gallery-grid-entry {
    padding: 0;
}

.quiqqer-gallery-grid .control-background {
    background: none;
}

.quiqqer-gallery-grid-entry .quiqqer-gallery-grid-entry-text {
    padding: 10px 0;
    text-align: center;
}

/*********************************************************************************/
/* contact form (site type: contact)
/*********************************************************************************/

.qui-form > fieldset {
    border: none;
}

.qui-form legend {
    background: none;
    float: none !important; /* komischer bug in chrome */
    margin-bottom: 10px;
    padding: 0;
    width: auto;
}

.qui-formfield-body {
    padding: 0;
}

.qui-formfield label {
    display: block;
    margin-bottom: 0;
}

.qui-form input[type="submit"] {
    /*width: 100%;*/
    font-weight: bold;
}

/*********************************************************************************/
/* sitemap
/*********************************************************************************/

.qui-sitetypes-sitemap ul,
.qui-sitetypes-sitemap ol,
.qui-sitetypes-sitemap-block ul,
.qui-sitetypes-sitemap-block ol {
    list-style: none;
    padding-left: 0;
    padding-top: 10px;
    text-decoration: none;
}

.qui-sitetypes-sitemap ul a,
.qui-sitetypes-sitemap ol a,
.qui-sitetypes-sitemap-block ul a,
.qui-sitetypes-sitemap-block ol a {
    color: inherit;
    display: block;
    text-decoration: none;
}

.qui-sitetypes-sitemap ul a:hover,
.qui-sitetypes-sitemap ol a:hover,
.qui-sitetypes-sitemap-block ul a:hover,
.qui-sitetypes-sitemap-block ol a:hover,
.qui-sitetypes-sitemap-block th a:hover {
    text-decoration: underline;
}

.qui-sitetypes-sitemap ul li,
.qui-sitetypes-sitemap ol li,
.qui-sitetypes-sitemap-block ul li,
.qui-sitetypes-sitemap-block ol li {
    padding-left: 20px;
}

.qui-sitetypes-sitemap-block th {
    padding-left: 20px;
}

.qui-sitetypes-sitemap-block-category .control-background a {
    color: #fff;
    text-decoration: none;
}

.clear-fix:after {
    clear: both;
    content: '';
    display: block;
    float: none;
    font-size: 0;
    line-height: 0;
}

.qui-sitetypes-sitemap ul:first-child a:hover {
    text-decoration: underline;
}

@media all and (max-width: 767px) {
    .qui-sitetypes-sitemap-block-category {
        width: 100%;
    }
}

/*********************************************************************************/
/* site type: standard search
/* quiqqer/sitetypes:types/search
/*********************************************************************************/


/*********************************************************************************/
/* search plugin
/*********************************************************************************/

.qui-search-settings {
    overflow: visible;
}

.form-field-search {
    margin-right: 40px;
    min-width: 40%;
}

.qui-search-result form {
    display: table-cell;
}

.qui-search-result-list-entry-imagelink {
    background-size: contain;

}

.qui-search-result-list-entry-imagelink:hover {
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.qui-button.qui-button--no-icon {
    font-size: 20px;
    margin-bottom: 6px;
    margin-top: 6px;
    padding: 6px 16px;
}

.qui-button.qui-button--no-icon:hover {
    color: inherit;
}

@media screen and (max-width: 767px) {
    .form-field-search {
        margin-right: 0;
        min-width: 100%;
    }
}


/*********************************************************************************/
/* search plugin - erweiterte Suche
/*********************************************************************************/
.quiqqer-search-searchinput {
    overflow: hidden;
}

.quiqqer-search-searchinput form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
}

input.quiqqer-search-searchinput-input {
    flex-grow: 3;
    margin: 10px;
    min-width: auto;
}

input.quiqqer-search-searchinput-submit,
input.quiqqer-search-searchinput-submit:last-of-type {
    flex-grow: 1;
    margin: 10px;
    order: 3;
}

div.qui-select {
    border-width: 2px;
}

.qui-select.quiqqer-search-searchinput-searchfieldselect {
    cursor: pointer;
    flex-grow: 1;
    height: auto;
    margin: 10px;
    order: 2;
    padding: 0 16px;
}

.qui-select.quiqqer-search-searchinput-searchfieldselect .text {
    height: 50px;
    line-height: 50px;
}

.qui-select.quiqqer-search-searchinput-searchfieldselect .drop-icon {
    height: 50px;
}

/*********************************************************************************/
/* search site types - standard Suche
/*********************************************************************************/

.qui-search-result form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
}

.qui-search-result .form-field-search {
    flex-grow: 3;
    margin: 10px;
    min-width: auto;
}

.qui-search-result input[type="submit"] {
    flex-grow: 1;
    margin: 10px;
    order: 3;
}


/*********************************************************************************/
/* search brick
/*********************************************************************************/

.quiqqer-suggestSearch-wrapper {
    width: 85%;
}

/*********************************************************************************/
/* ChildrenList
/* site type: quiqqer/tags:types/tag-search
/*********************************************************************************/

a.qui-control-list-entry-imagelink {
    border: none;
}

.quiqqer-tags-list-result-entry a {
    color: inherit;
}

/*********************************************************************************/
/* site type: types/tag-listing
/*********************************************************************************/

.quiqqer-sheets-desktop-limits a:hover {
    background: none;
    box-shadow: none;
    color: var(--qui-colors-primary);
}

.quiqqer-tags-search-pool .qui-button.qui-button--no-icon {
    font-size: 16px;
    margin: 0 5px 5px 0;
    padding: 3px 10px;
}

/*********************************************************************************/
/* site type: quiqqer/tags:types/tag-listing
/*********************************************************************************/

.content-short.qui-tags-tag-content {
    padding-top: 0;
}

/* todo @michael.daniel improve css selector */
.tpl-presentation-row a.qui-tags-tag:hover {
    border: 1px solid var(--qui-colors-primary);
    color: var(--qui-colors-primary);
}

/*********************************************************************************/
/* content message
/*********************************************************************************/

.content-message-information,
.content-message-attention,
.content-message-error,
.content-message-success {
    margin: 1em 0;
}

/*********************************************************************************/
/* img brick
/*********************************************************************************/

.brick-image-picture-container {
    line-height: 0;
}

/*********************************************************************************/
/* slider
/*********************************************************************************/

.quiqqer-bricks-children-slider .quiqqer-bricks-children-slider-prev,
.quiqqer-bricks-children-slider .quiqqer-bricks-children-slider-next {
    color: #ddd;
}

/*********************************************************************************/
/* breadcrumb
/*********************************************************************************/

.template-breadcrumb {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    color: #8a8a8a;
    font-size: 10pt;
    font-weight: normal;
    letter-spacing: normal;
}

.quiqqer-breadcrumb a {
    color: var(--qui-colors-muted);
}

.template-breadcrumb .quiqqer-breadcrumb ul li:last-child a span:last-child {
    color: var(--qui-colors-primary);
}

/*********************************************************************************/
/* infinite brick
/*********************************************************************************/

.quiqqer-bricks-children-infinite .button {
    float: none;
}

.quiqqer-bricks-children-infinite a,
.quiqqer-bricks-children-infinite a:hover,
.quiqqer-bricks-children-infinite a:active {
    color: #333;
    font-weight: normal;
}

.quiqqer-bricks-children-infinite-child-display {
    overflow: hidden;
}

.quiqqer-bricks-children-infinite-child-display header {
    left: 0;
}

.quiqqer-bricks-children-infinite-child-display > a img {
    bottom: 0;
    left: 0;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.quiqqer-bricks-children-infinite-child-display > a img:hover {
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
}

/*********************************************************************************/
/* children list 3er
/*********************************************************************************/
.qui-control-childrenlist-3er-entry-image span.quiqqer-icon {
    font-size: 130px;
}

/*********************************************************************************/
/* Dropdown Languages switch
/*********************************************************************************/
.quiqqer-bricks-languageswitch-dropdown.button {
    background: none;
    border: none;
    float: right;
    margin-right: 20px !important;
    min-width: 0;
    padding: 0;
}

.quiqqer-bricks-languageswitch-dropdown.button .quiqqer-control-languageswitch-dropdown {
    align-items: center;
    display: flex;
    padding: 0;
}

.quiqqer-bricks-languageswitch-dropdown.button .quiqqer-control-languageswitch-dropdown-arrow {
    position: relative;
    right: 0;
    top: 0;
}

.quiqqer-bricks-languageswitch-dropdown.button .quiqqer-control-languageswitch-dropdown-dd {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #444;
    min-width: 100px;
}

.quiqqer-menu-megaMenu .quiqqer-bricks-languageswitch-dropdown.button .fa-angle-down {
    margin-left: 10px;
}


/*********************************************************************************/
/* template extra link effects
/*********************************************************************************/

/* Link effect 0: link with icon*/
a.icon-link {
    font-weight: normal;
    max-width: 100%;
    position: relative;
    text-decoration: none;
}

a.icon-link:after {
    color: #ccc;
    content: ' \f08e'; /* set the icon */
    font: normal normal normal 14px/1 FontAwesome;
    transition: 0.3s;
}

a.icon-link:hover {
    border-radius: 0;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

.tpl-presentation-row .templateQUI-start-page-intro-entry a:hover {
    color: inherit;
}

/* link effect 1: simple (grey) */
a.link-simple-grey {
    border-bottom: 1px solid rgba(52, 73, 94, 0.4);
    color: #333;
    font-weight: normal;
    -moz-transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    -ms-transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    -webkit-transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
}

a.link-simple-grey:hover,
a.link-simple-grey:focus {
    background-color: rgba(52, 73, 94, 0.1);
    border-color: rgba(52, 73, 94, 0);
}

a.link-simple-grey:hover,
a.link-simple-grey:focus {
    color: #333;
}

/* link effect 2: simple (color) */
a.link-simple-color {
    font-weight: normal;
    -moz-transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    -ms-transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    -webkit-transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
}

a.link-simple-color:hover,
a.link-simple-color:focus {
    background: rgba(52, 73, 94, 0.1);
    border-color: rgba(52, 73, 94, 0);
}

/* link effect 3: slide up (grey) */

a.link-slide-up-grey {
    color: #333;
    display: inline-block;
    font-weight: normal;
    outline: medium none;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
    white-space: nowrap;
}

a.link-slide-up-grey::before {
    background-color: rgba(52, 73, 94, 0.2);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(92%);
    transition: transform 0.2s ease 0s;
    width: 100%;
}

a.link-slide-up-grey:hover::before,
a.link-slide-up-grey:focus::before {
    transform: translateY(0px);
}

a.link-slide-up-grey:hover,
a.link-slide-right-grey {
    color: #333;
}

/* link effect 4: slide up (color) */

a.link-slide-up-color {
    display: inline-block;
    font-weight: normal;
    outline: medium none;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
    white-space: nowrap;
    z-index: 2;
}

a.link-slide-up-color::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(95%);
    transition: transform .2s ease 0s, background-color 0.2s ease 0.2s;
    width: 100%;
    z-index: -1;
}

a.link-slide-up-color:hover::before,
a.link-slide-up-color:focus::before {
    background-color: rgba(52, 73, 94, 0.1);
    transform: translateY(0px);
    transition: transform .2s ease 0s, background-color 0s ease 0s;
    z-index: -100;
}

/* link effect 5: slide right (grey)*/

a.link-slide-right-grey::before {
    background-color: rgba(149, 165, 166, 0.4);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleY(0.718) translateX(-100%);
    transition: transform 0.3s ease 0s;
    width: 100%;
    z-index: -1;
}

a.link-slide-right-grey {
    color: #333;
    display: inline-block;
    outline: medium none;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
    white-space: nowrap;
    z-index: 2;
}

a.link-slide-right-grey:hover,
a.link-slide-right-grey:focus {
    color: #333;
}

a.link-slide-right-grey:hover::before,
a.link-slide-right-grey:focus::before {
    transform: scaleY(0.718) translateX(0px);
}

/* extra grid class  */
.grid-children-container {
    left: -20px;
    width: calc(100% + 40px);
}
