/**
 * use !important to override css variable defined by template setting
 */
:root {
    --scroll-padding: 0; /* template settings override this variable */

    /* color  */
    --_qui-color-primary: var(--qui-color-primary, var(--qui-color-main));  /* template settings override this variable */
    --_qui-color-secondary: var(--qui-color-secondary, #6c757d);
    --_qui-color-success: var(--qui-color-success, #28a745); /* template settings override this variable */
    --_qui-color-danger: var(--qui-color-danger, #dc4139); /* template settings override this variable */
    --_qui-color-warning: var(--qui-color-warning, #ffd147); /* template settings override this variable */
    --_qui-color-info: var(--qui-color-info, #51a1c0);
    --_qui-color-light: var(--qui-color-light, #e5e5e5);
    --_qui-color-dark: var(--qui-color-dark, #393f46);

    --_qui-color-main: var(--qui-color-main, #94c23c); /* template settings override this variable */
    --_qui-color-body: var(--qui-color-body, #3b3b3a); /* template settings override this variable */
    --_qui-color-muted: var(--qui-color-muted, #9ba3ad); /* template settings override this variable */

    --qui-line-height-xs: 1.25;
    --qui-line-height-sm: 1.5;
    --qui-line-height: 1.75; /* base */
    --qui-line-height-md: 2;
    --qui-line-height-lg: 2.5;

    /* text */
    --_qui-font-family: var(--qui-font-family, 'Open Sans', sans-serif);

    /* text: font size */
    --qui-fs-xs: 0.75rem;
    --qui-fs-sm: 0.875rem;
    --qui-fs-body: 16px; /* base */
    --qui-fs-md: 18px;
    --qui-fs-lg: 22px;
    --qui-fs-xl: 1.75rem;
    --qui-fs-2xl: 2.5rem;
    --qui-fs-3xl: 3.5rem;
    --qui-fs-4xl: 4.5rem;
    --qui-fs-5xl: 5.5rem;
    --qui-fs-6xl: 6rem;
    --qui-text-lead: var(--qui-fs-lg);
    --qui-display-1: var(--qui-fs-6xl);
    --qui-display-2: var(--qui-fs-5xl);
    --qui-display-3: var(--qui-fs-4xl);
    --qui-display-4: var(--qui-fs-3xl);

    /* heading: font size */
    --qui-fs-1: 3rem;
    --qui-fs-2: 2rem;
    --qui-fs-3: 1.728rem;
    --qui-fs-4: 1.44rem;
    --qui-fs-5: 1.2rem;
    --qui-fs-6: 1.025rem;

    /* spacing for margin, padding, etc */
    --qui-spacer: 1rem;
    --qui-spacing-xs: calc(var(--qui-spacer) * 0.25);
    --qui-spacing-sm: calc(var(--qui-spacer) * 0.75);
    --qui-spacing: var(--qui-spacer); /* default */
    --qui-spacing-md: calc(var(--qui-spacer) * 1.25);
    --qui-spacing-lg: calc(var(--qui-spacer) * 1.75);
    --qui-spacing-xl: calc(var(--qui-spacer) * 2);
    --qui-spacing-2xl: calc(var(--qui-spacer) * 2.5);
    --qui-spacing-3xl: calc(var(--qui-spacer) * 3.5);
    --qui-spacing-4xl: calc(var(--qui-spacer) * 4.5);
    --qui-spacing-5xl: calc(var(--qui-spacer) * 5.5);
    --qui-spacing-6xl: calc(var(--qui-spacer) * 6);

    --_qui-row-spacer: var(--qui-row-spacer, 3rem);
    --qui-row-spacing--disabled: 0;
    --qui-row-spacing--extraSmall: calc(var(--_qui-row-spacer) * 0.25);
    --qui-row-spacing--small: calc(var(--_qui-row-spacer) * 0.5);
    --qui-row-spacing--base: var(--_qui-row-spacer);
    --qui-row-spacing--medium: calc(var(--_qui-row-spacer) * 2);
    --qui-row-spacing--large: calc(var(--_qui-row-spacer) * 3);
    --qui-row-spacing--extraLarge: calc(var(--_qui-row-spacer) * 5);

    --_qui-tpl-spacing--top: var(--qui-tpl-spacing--top, var(--qui-row-spacing--base));
    --_qui-tpl-spacing--bottom: var(--qui-tpl-spacing--bottom, var(--qui-row-spacing--base));

    /* Buttons */
    --_qui-btn-borderRadius: var(--qui-btn-borderRadius, 0.25em);

    /* Button: primary */
    --_qui-btn-primary-bg: var(--qui-btn-primary-bg, var(--_qui-color-main));
    --_qui-btn-primary-color: var(--qui-btn-primary-color, #ffffff);
    --_qui-btn-primary-borderColor: var(--qui-btn-primary-borderColor, var(--_qui-color-main));
    --_qui-btn-primary-bg--hover: var(--qui-btn-primary-bg--hover, color-mix(in srgb, var(--_qui-btn-primary-bg), black 10%));
    --_qui-btn-primary-color--hover: var(--qui-btn-primary-color--hover, #ffffff);
    --_qui-btn-primary-borderColor--hover: var(--qui-btn-primary-borderColor--hover, color-mix(in srgb, var(--_qui-btn-primary-bg), black 10%));

    /* Button: secondary */
    --_qui-btn-secondary-bg: var(--qui-btn-secondary-bg, var(--_qui-color-secondary));
    --_qui-btn-secondary-color: var(--qui-btn-secondary-color, #ffffff);
    --_qui-btn-secondary-borderColor: var(--qui-btn-secondary-borderColor, var(--_qui-color-secondary));
    --_qui-btn-secondary-bg--hover: var(--qui-btn-secondary-bg--hover, color-mix(in srgb, var(--_qui-btn-secondary-bg), black 10%));
    --_qui-btn-secondary-color--hover: var(--qui-btn-secondary-color--hover, #ffffff);
    --_qui-btn-secondary-borderColor--hover: var(--qui-btn-secondary-borderColor--hover, color-mix(in srgb, var(--_qui-btn-secondary-bg), black 10%));

    /* Button: success */
    --_qui-btn-success-bg: var(--qui-btn-success-bg, var(--_qui-color-success));
    --_qui-btn-success-color: var(--qui-btn-success-color, #ffffff);
    --_qui-btn-success-borderColor: var(--qui-btn-success-borderColor, var(--_qui-color-success));
    --_qui-btn-success-bg--hover: var(--qui-btn-success-bg--hover, color-mix(in srgb, var(--_qui-btn-success-bg), black 10%));
    --_qui-btn-success-color--hover: var(--qui-btn-success-color--hover, #ffffff);
    --_qui-btn-success-borderColor--hover: var(--qui-btn-success-borderColor--hover, color-mix(in srgb, var(--_qui-btn-success-bg), black 10%));

    /* Button: danger */
    --_qui-btn-danger-bg: var(--qui-btn-danger-bg, var(--_qui-color-danger));
    --_qui-btn-danger-color: var(--qui-btn-danger-color, #ffffff);
    --_qui-btn-danger-borderColor: var(--qui-btn-danger-borderColor, var(--_qui-color-danger));
    --_qui-btn-danger-bg--hover: var(--qui-btn-danger-bg--hover, color-mix(in srgb, var(--_qui-btn-danger-bg), black 10%));
    --_qui-btn-danger-color--hover: var(--qui-btn-danger-color--hover, #ffffff);
    --_qui-btn-danger-borderColor--hover: var(--qui-btn-danger-borderColor--hover, color-mix(in srgb, var(--_qui-btn-danger-bg), black 10%));

    /* Button: warning */
    --_qui-btn-warning-bg: var(--qui-btn-warning-bg, var(--_qui-color-warning));
    --_qui-btn-warning-color: var(--qui-btn-warning-color, #000000);
    --_qui-btn-warning-borderColor: var(--qui-btn-warning-borderColor, var(--_qui-color-warning));
    --_qui-btn-warning-bg--hover: var(--qui-btn-warning-bg--hover, color-mix(in srgb, var(--_qui-btn-warning-bg), black 10%));
    --_qui-btn-warning-color--hover: var(--qui-btn-warning-color--hover, #000000);
    --_qui-btn-warning-borderColor--hover: var(--qui-btn-warning-borderColor--hover, color-mix(in srgb, var(--_qui-btn-warning-bg), black 10%));

    /* Button: info */
    --_qui-btn-info-bg: var(--qui-btn-info-bg, var(--_qui-color-info));
    --_qui-btn-info-color: var(--qui-btn-info-color, #ffffff);
    --_qui-btn-info-borderColor: var(--qui-btn-info-borderColor, var(--_qui-color-info));
    --_qui-btn-info-bg--hover: var(--qui-btn-info-bg--hover, color-mix(in srgb, var(--_qui-btn-info-bg), black 10%));
    --_qui-btn-info-color--hover: var(--qui-btn-info-color--hover, #ffffff);
    --_qui-btn-info-borderColor--hover: var(--qui-btn-info-borderColor--hover, color-mix(in srgb, var(--_qui-btn-info-bg), black 10%));

    /* Button: light */
    --_qui-btn-light-bg: var(--qui-btn-light-bg, var(--_qui-color-light));
    --_qui-btn-light-color: var(--qui-btn-light-color, #000000);
    --_qui-btn-light-borderColor: var(--qui-btn-light-borderColor, var(--_qui-color-light));
    --_qui-btn-light-bg--hover: var(--qui-btn-light-bg--hover, color-mix(in srgb, var(--_qui-btn-light-bg), black 10%));
    --_qui-btn-light-color--hover: var(--qui-btn-light-color--hover, #000000);
    --_qui-btn-light-borderColor--hover: var(--qui-btn-light-borderColor--hover, color-mix(in srgb, var(--_qui-btn-light-bg), black 10%));

    /* Button: dark */
    --_qui-btn-dark-bg: var(--qui-btn-dark-bg, var(--_qui-color-dark));
    --_qui-btn-dark-color: var(--qui-btn-dark-color, #ffffff);
    --_qui-btn-dark-borderColor: var(--qui-btn-dark-borderColor, var(--_qui-color-dark));
    --_qui-btn-dark-bg--hover: var(--qui-btn-dark-bg--hover, color-mix(in srgb, var(--_qui-btn-dark-bg), black 10%));
    --_qui-btn-dark-color--hover: var(--qui-btn-dark-color--hover, #ffffff);
    --_qui-btn-dark-borderColor--hover: var(--qui-btn-dark-borderColor--hover, color-mix(in srgb, var(--_qui-btn-dark-bg), black 10%));

    /* Button: link */
    --_qui-btn-link-color: var(--qui-btn-link-color, var(--_qui-color-primary));
    --_qui-btn-link-color--hover: var(--qui-btn-link-color--hover, color-mix(in srgb, var(--_qui-color-primary), black 10%));

    /* Button: link dark */
    --_qui-btn-linkDark-color: var(--qui-btn-linkDark-color, var(--_qui-color-body));
    --_qui-btn-linkDark-color--hover: var(--qui-btn-linkDark-color, color-mix(in srgb, var(--_qui-color-primary), black 10%));

    /* nav */
    --qui-nav-color: #ffffff; /* template settings override this variable */
    --qui-nav-position: absolute; /* template settings override this variable */
    --qui-nav-bg: #2d4d88; /* template settings override this variable */
    --qui-nav-bg-lighter: #435f94; /* template settings override this variable */
    --qui-nav-height: 80px; /* template settings override this variable */
    --qui-nav-scrolled-bg: var(--qui-nav-bg); /* template settings override this variable */
    --qui-body-container-top: var(--qui-nav-height); /* template settings override this variable */
    --qui-nav-mobile-bg: #252122; /* template settings override this variable */
    --qui-nav-mobile-font-color: #ffffff; /* template settings override this variable */
    --qui-nav-mobile-social-bar-bg: #3b3839; /* template settings override this variable */

    /* header */
    --qui-header-min-height: 300; /* template settings override this variable */
    --qui-header-img-position: center; /* template settings override this variable */

    /* footer */
    --qui-footer-bg: #eeeeee; /* template settings override this variable */
    --qui-footer-font-color: #333333; /* template settings override this variable */
    --qui-footer-copyrigth-border-top-color: #f0f0f0; /* template settings override this variable */

    /* background */
    --qui-bg-primary: #ddd;
    --qui-bg-secondary: #f5f5f5;

    /* brick prefix / suffix bg */
    --qui-brick-prefix-even-bg: transparent; /* template settings override this variable */
    --qui-brick-prefix-odd-bg: transparent; /* template settings override this variable */
    --qui-brick-suffix-even-bg: transparent; /* template settings override this variable */
    --qui-brick-suffix-odd-bg: transparent; /* template settings override this variable */

    /* screen sizes */
    --qui-screen-lg: 1400px;
    --qui-screen-md: 1100px;
    --qui-screen-sm: 767px;
    --qui-screen-xs: 440px;
}

@media screen and (max-width: 767px) {
    :root {
        --qui-fs-1: 2.2rem;
        --qui-fs-2: 1.625rem;
        --qui-fs-3: 1.375rem;
        --qui-fs-4: 1.25rem;
        --qui-fs-5: 1.125rem;

        /* font size: text */
        --qui-fs-body: 16px;
        --qui-fs-lg: 20px;
        --qui-fs-xl: 24px;
        --qui-fs-2xl: calc(.75 * 2.5rem);
        --qui-fs-3xl: calc(.75 * 3.5rem);
        --qui-fs-4xl: calc(.75 * 4.5rem);
        --qui-fs-5xl: calc(.75 * 5.5rem);
        --qui-fs-6xl: calc(.75 * 6rem);

        --_qui-row-spacer: var(--qui-row-spacer--mobile, 1.5rem);
    }
}

@media screen and (max-width: 440px) {
    :root {
        --qui-fs-1: 2rem;
        --qui-fs-2: 1.625rem;
        --qui-fs-3: 1.375rem;
        --qui-fs-4: 1.25rem;
        --qui-fs-5: 1.125rem;

        /* font size: text */
        --qui-fs-body: 16px;
        --qui-fs-md: 17px;
        --qui-fs-lg: 19px;
        --qui-fs-xl: 22px;
        --qui-fs-2xl: calc(.7 * 2.5rem);
        --qui-fs-3xl: calc(.65 * 3.5rem);
        --qui-fs-4xl: calc(.6 * 4.5rem);
        --qui-fs-5xl: calc(.55 * 5.5rem);
        --qui-fs-6xl: calc(.5 * 6.5rem);
    }
}