/**
 * Badges css variables
 *
 * Set your own variables by using "--theme" prefix, for example:
 * - To change success color set variable --theme--qui-colors-success
 * - To change font size set variable --theme--qui-font-size
 */
:root {
    --qui-badge-padding-y: var(--theme--qui-badge-padding-y, 0.4em);
    --qui-badge-padding-x: var(--theme--qui-badge-padding-x, 0.75em);
    --qui-badge-fontSize: var(--qui-badge-fontSize--base);
    --qui-badge-fontSize--base: var(--theme--qui-badge-fontSize--base, 0.85em);
    --qui-badge-fontSize--sm: var(--theme--qui-badge-fontSize--sm, 0.7em);
    --qui-badge-fontSize--lg: var(--theme--qui-badge-fontSize--lg, 1em);
    --qui-badge-fontWeight: var(--theme--qui-badge-fontWeight, normal);
    --qui-badge-color: var(--theme--qui-badge-color, inherit);
    --qui-badge-bgColor: var(--theme--qui-badge-bgColor, transparent);
    --qui-badge-borderRadius: var(--theme--qui-badge-borderRadius, var(--qui-radius-badge, 0.75rem));

    --qui-badge-primary-bgColor: var(--theme--qui-badge-primary-bgColor, var(--qui-colors-primary));
    --qui-badge-primary-color: var(--theme--qui-badge-primary-color, var(--qui-colors-primary--accent));
    --qui-badge-primary-light-bgColor: var(--theme--qui-badge-primary-light-bgColor, var(--qui-colors-primary-50));
    --qui-badge-primary-light-color: var(--theme--qui-badge-primary-light-color, var(--qui-colors-primary-800));

    --qui-badge-secondary-bgColor: var(--theme--qui-badge-secondary-bgColor, var(--qui-colors-secondary));
    --qui-badge-secondary-color: var(--theme--qui-badge-secondary-color, #ffffff);
    --qui-badge-secondary-light-bgColor: var(--theme--qui-badge-secondary-light-bgColor, var(--qui-colors-secondary-50));
    --qui-badge-secondary-light-color: var(--theme--qui-badge-secondary-light-color, var(--qui-colors-secondary-800));

    --qui-badge-success-bgColor: var(--theme--qui-badge-success-bgColor, var(--qui-colors-success));
    --qui-badge-success-color: var(--theme--qui-badge-success-color, #ffffff);
    --qui-badge-success-light-bgColor: var(--theme--qui-badge-success-light-bgColor, var(--qui-colors-success-50));
    --qui-badge-success-light-color: var(--theme--qui-badge-success-light-color, var(--qui-colors-success-800));

    --qui-badge-danger-bgColor: var(--theme--qui-badge-danger-bgColor, var(--qui-colors-danger));
    --qui-badge-danger-color: var(--theme--qui-badge-danger-color, #ffffff);
    --qui-badge-danger-light-bgColor: var(--theme--qui-badge-danger-light-bgColor, var(--qui-colors-danger-50));
    --qui-badge-danger-light-color: var(--theme--qui-badge-danger-light-color, var(--qui-colors-danger-700));

    --qui-badge-warning-bgColor: var(--theme--qui-badge-warning-bgColor, var(--qui-colors-warning));
    --qui-badge-warning-color: var(--theme--qui-badge-warning-color, #000000);
    --qui-badge-warning-light-bgColor: var(--theme--qui-badge-warning-light-bgColor, var(--qui-colors-warning-100));
    --qui-badge-warning-light-color: var(--theme--qui-badge-warning-light-color, var(--qui-colors-warning-950));

    --qui-badge-info-bgColor: var(--theme--qui-badge-info-bgColor, var(--qui-colors-info));
    --qui-badge-info-color: var(--theme--qui-badge-info-color, #ffffff);
    --qui-badge-info-light-bgColor: var(--theme--qui-badge-info-light-bgColor, var(--qui-colors-info-50));
    --qui-badge-info-light-color: var(--theme--qui-badge-info-light-color, var(--qui-colors-info-800));

    --qui-badge-light-bgColor: var(--theme--qui-badge-light-bgColor, var(--qui-colors-light));
    --qui-badge-light-color: var(--theme--qui-badge-light-color, #000000);

    --qui-badge-dark-bgColor: var(--theme--qui-badge-dark-bgColor, var(--qui-colors-dark));
    --qui-badge-dark-color: var(--theme--qui-badge-dark-color, #ffffff);
    --qui-badge-dark-light-bgColor: var(--theme--qui-badge-dark-light-bgColor, var(--qui-colors-dark-25));
    --qui-badge-dark-light-color: var(--theme--qui-badge-dark-light-color, var(--qui-colors-dark));

    --qui-badge-white-bgColor: var(--theme--qui-badge-white-bgColor, #fff);
    --qui-badge-white-color: var(--theme--qui-badge-white-color, #111);
}