/**
 * Set your own variables by using "--theme" prefix, for example:
 * - To change success color set variable --theme--qui-color-success
 * - To change warning color set variable --theme--qui-color-warning
 */
:root {
    --qui-color-body: var(--template-settings__body-color);
    --qui-color-muted: var(--qui-color-muted, #9ba3ad);

    /* primary */
    --qui-color-primary: var(--theme--qui-color-primary, var(--template-settings__color-primary));
    --qui-color-primary--light: var(--theme--qui-color-primary--light, var(--qui-colors-primary-300));
    --qui-color-primary--dark: var(--theme--qui-color-primary--dark, var(--qui-colors-primary-700));
    --qui-color-primary--accent: var(--theme--qui-color-primary--accent, #fff);
    --qui-colors-primary-25: color-mix(in srgb, var(--qui-color-primary) 5%, white);
    --qui-colors-primary-50: color-mix(in srgb, var(--qui-color-primary) 10%, white);
    --qui-colors-primary-100: color-mix(in srgb, var(--qui-color-primary) 20%, white);
    --qui-colors-primary-200: color-mix(in srgb, var(--qui-color-primary) 40%, white);
    --qui-colors-primary-300: color-mix(in srgb, var(--qui-color-primary) 60%, white);
    --qui-colors-primary-400: color-mix(in srgb, var(--qui-color-primary) 80%, white);
    --qui-colors-primary-500: var(--qui-color-primary);
    --qui-colors-primary-600: color-mix(in srgb, var(--qui-color-primary) 90%, black);
    --qui-colors-primary-700: color-mix(in srgb, var(--qui-color-primary) 80%, black);
    --qui-colors-primary-800: color-mix(in srgb, var(--qui-color-primary) 70%, black);
    --qui-colors-primary-900: color-mix(in srgb, var(--qui-color-primary) 60%, black);
    --qui-colors-primary-950: color-mix(in srgb, var(--qui-color-primary) 50%, black);

    /* secondary */
    --qui-color-secondary: var(--theme--qui-color-secondary, #6c757d);
    --qui-colors-secondary-25: color-mix(in srgb, var(--qui-color-secondary) 5%, white);
    --qui-colors-secondary-50: color-mix(in srgb, var(--qui-color-secondary) 10%, white);
    --qui-colors-secondary-100: color-mix(in srgb, var(--qui-color-secondary) 20%, white);
    --qui-colors-secondary-200: color-mix(in srgb, var(--qui-color-secondary) 40%, white);
    --qui-colors-secondary-300: color-mix(in srgb, var(--qui-color-secondary) 60%, white);
    --qui-colors-secondary-400: color-mix(in srgb, var(--qui-color-secondary) 80%, white);
    --qui-colors-secondary-500: var(--qui-color-secondary);
    --qui-colors-secondary-600: color-mix(in srgb, var(--qui-color-secondary) 90%, black);
    --qui-colors-secondary-700: color-mix(in srgb, var(--qui-color-secondary) 80%, black);
    --qui-colors-secondary-800: color-mix(in srgb, var(--qui-color-secondary) 70%, black);
    --qui-colors-secondary-900: color-mix(in srgb, var(--qui-color-secondary) 60%, black);
    --qui-colors-secondary-950: color-mix(in srgb, var(--qui-color-secondary) 50%, black);

    /* success */
    --qui-color-success: var(--theme--qui-color-success, #28a745);
    --qui-colors-success-25: color-mix(in srgb, var(--qui-color-success) 5%, white);
    --qui-colors-success-50: color-mix(in srgb, var(--qui-color-success) 10%, white);
    --qui-colors-success-100: color-mix(in srgb, var(--qui-color-success) 20%, white);
    --qui-colors-success-200: color-mix(in srgb, var(--qui-color-success) 40%, white);
    --qui-colors-success-300: color-mix(in srgb, var(--qui-color-success) 60%, white);
    --qui-colors-success-400: color-mix(in srgb, var(--qui-color-success) 80%, white);
    --qui-colors-success-500: var(--qui-color-success);
    --qui-colors-success-600: color-mix(in srgb, var(--qui-color-success) 90%, black);
    --qui-colors-success-700: color-mix(in srgb, var(--qui-color-success) 80%, black);
    --qui-colors-success-800: color-mix(in srgb, var(--qui-color-success) 70%, black);
    --qui-colors-success-900: color-mix(in srgb, var(--qui-color-success) 60%, black);
    --qui-colors-success-950: color-mix(in srgb, var(--qui-color-success) 50%, black);

    /* danger */
    --qui-color-danger: var(--theme--qui-color-danger, #dc4139);
    --qui-colors-danger-25: color-mix(in srgb, var(--qui-color-danger) 5%, white);
    --qui-colors-danger-50: color-mix(in srgb, var(--qui-color-danger) 10%, white);
    --qui-colors-danger-100: color-mix(in srgb, var(--qui-color-danger) 20%, white);
    --qui-colors-danger-200: color-mix(in srgb, var(--qui-color-danger) 40%, white);
    --qui-colors-danger-300: color-mix(in srgb, var(--qui-color-danger) 60%, white);
    --qui-colors-danger-400: color-mix(in srgb, var(--qui-color-danger) 80%, white);
    --qui-colors-danger-500: var(--qui-color-danger);
    --qui-colors-danger-600: color-mix(in srgb, var(--qui-color-danger) 90%, black);
    --qui-colors-danger-700: color-mix(in srgb, var(--qui-color-danger) 80%, black);
    --qui-colors-danger-800: color-mix(in srgb, var(--qui-color-danger) 70%, black);
    --qui-colors-danger-900: color-mix(in srgb, var(--qui-color-danger) 60%, black);
    --qui-colors-danger-950: color-mix(in srgb, var(--qui-color-danger) 50%, black);

    /* warning */
    --qui-color-warning: var(--theme--qui-color-warning, #ffd147);
    --qui-colors-warning-25: color-mix(in srgb, var(--qui-color-warning) 5%, white);
    --qui-colors-warning-50: color-mix(in srgb, var(--qui-color-warning) 10%, white);
    --qui-colors-warning-100: color-mix(in srgb, var(--qui-color-warning) 20%, white);
    --qui-colors-warning-200: color-mix(in srgb, var(--qui-color-warning) 40%, white);
    --qui-colors-warning-300: color-mix(in srgb, var(--qui-color-warning) 60%, white);
    --qui-colors-warning-400: color-mix(in srgb, var(--qui-color-warning) 80%, white);
    --qui-colors-warning-500: var(--qui-color-warning);
    --qui-colors-warning-600: color-mix(in srgb, var(--qui-color-warning) 90%, black);
    --qui-colors-warning-700: color-mix(in srgb, var(--qui-color-warning) 80%, black);
    --qui-colors-warning-800: color-mix(in srgb, var(--qui-color-warning) 70%, black);
    --qui-colors-warning-900: color-mix(in srgb, var(--qui-color-warning) 60%, black);
    --qui-colors-warning-950: color-mix(in srgb, var(--qui-color-warning) 50%, black);

    /* info */
    --qui-color-info: var(--theme--qui-color-info, #51a1c0);
    --qui-colors-info-25: color-mix(in srgb, var(--qui-color-info) 5%, white);
    --qui-colors-info-50: color-mix(in srgb, var(--qui-color-info) 10%, white);
    --qui-colors-info-100: color-mix(in srgb, var(--qui-color-info) 20%, white);
    --qui-colors-info-200: color-mix(in srgb, var(--qui-color-info) 40%, white);
    --qui-colors-info-300: color-mix(in srgb, var(--qui-color-info) 60%, white);
    --qui-colors-info-400: color-mix(in srgb, var(--qui-color-info) 80%, white);
    --qui-colors-info-500: var(--qui-color-info);
    --qui-colors-info-600: color-mix(in srgb, var(--qui-color-info) 90%, black);
    --qui-colors-info-700: color-mix(in srgb, var(--qui-color-info) 80%, black);
    --qui-colors-info-800: color-mix(in srgb, var(--qui-color-info) 70%, black);
    --qui-colors-info-900: color-mix(in srgb, var(--qui-color-info) 60%, black);
    --qui-colors-info-950: color-mix(in srgb, var(--qui-color-info) 50%, black);

    /* gray */
    --qui-color-gray: var(--theme--qui-color-gray, #61656b);
    --qui-colors-gray-25: color-mix(in srgb, var(--qui-color-gray) 5%, white);
    --qui-colors-gray-50: color-mix(in srgb, var(--qui-color-gray) 10%, white);
    --qui-colors-gray-100: color-mix(in srgb, var(--qui-color-gray) 20%, white);
    --qui-colors-gray-200: color-mix(in srgb, var(--qui-color-gray) 40%, white);
    --qui-colors-gray-300: color-mix(in srgb, var(--qui-color-gray) 60%, white);
    --qui-colors-gray-400: color-mix(in srgb, var(--qui-color-gray) 80%, white);
    --qui-colors-gray-500: var(--qui-color-gray);
    --qui-colors-gray-600: color-mix(in srgb, var(--qui-color-gray) 90%, black);
    --qui-colors-gray-700: color-mix(in srgb, var(--qui-color-gray) 80%, black);
    --qui-colors-gray-800: color-mix(in srgb, var(--qui-color-gray) 70%, black);
    --qui-colors-gray-900: color-mix(in srgb, var(--qui-color-gray) 60%, black);
    --qui-colors-gray-950: color-mix(in srgb, var(--qui-color-gray) 50%, black);

    /* light */
    --qui-color-light: var(--theme--qui-color-light, #e5e5e5);
    --qui-colors-light-25: color-mix(in srgb, var(--qui-color-light) 5%, white);
    --qui-colors-light-50: color-mix(in srgb, var(--qui-color-light) 10%, white);
    --qui-colors-light-100: color-mix(in srgb, var(--qui-color-light) 20%, white);
    --qui-colors-light-200: color-mix(in srgb, var(--qui-color-light) 40%, white);
    --qui-colors-light-300: color-mix(in srgb, var(--qui-color-light) 60%, white);
    --qui-colors-light-400: color-mix(in srgb, var(--qui-color-light) 80%, white);
    --qui-colors-light-500: var(--qui-color-light);
    --qui-colors-light-600: color-mix(in srgb, var(--qui-color-light) 90%, black);
    --qui-colors-light-700: color-mix(in srgb, var(--qui-color-light) 80%, black);
    --qui-colors-light-800: color-mix(in srgb, var(--qui-color-light) 70%, black);
    --qui-colors-light-900: color-mix(in srgb, var(--qui-color-light) 60%, black);
    --qui-colors-light-950: color-mix(in srgb, var(--qui-color-light) 50%, black);

    /* dark */
    --qui-color-dark: var(--theme--qui-color-dark, #393f46);
    --qui-colors-dark-25: color-mix(in srgb, var(--qui-color-dark) 5%, white);
    --qui-colors-dark-50: color-mix(in srgb, var(--qui-color-dark) 10%, white);
    --qui-colors-dark-100: color-mix(in srgb, var(--qui-color-dark) 20%, white);
    --qui-colors-dark-200: color-mix(in srgb, var(--qui-color-dark) 40%, white);
    --qui-colors-dark-300: color-mix(in srgb, var(--qui-color-dark) 60%, white);
    --qui-colors-dark-400: color-mix(in srgb, var(--qui-color-dark) 80%, white);
    --qui-colors-dark-500: var(--qui-color-dark);
    --qui-colors-dark-600: color-mix(in srgb, var(--qui-color-dark) 90%, black);
    --qui-colors-dark-700: color-mix(in srgb, var(--qui-color-dark) 80%, black);
    --qui-colors-dark-800: color-mix(in srgb, var(--qui-color-dark) 70%, black);
    --qui-colors-dark-900: color-mix(in srgb, var(--qui-color-dark) 60%, black);
    --qui-colors-dark-950: color-mix(in srgb, var(--qui-color-dark) 50%, black);

    /* white */
    --qui-color-white: var(--theme--qui-color-white, #fff);

    /* black */
    --qui-color-black: var(--theme--qui-color-black, #000);
}