/**
 * Set your own variables by using "--theme" prefix, for example:
 * - To change success color set variable --theme--qui-color-success
 * - To change font size set variable --theme--qui-font-size
 */
:root {
    --qui-scroll-padding: var(--theme--qiu-scroll-padding, --template-settings__scroll-offset); /* template settings override this variable */


    /* spacing for margin, padding, etc */
    --qui-spacer--desktop: var(--theme--qui-spacer--desktop, 1rem);
    --qui-spacer--mobile: var(--theme--qui-spacer--mobile, 0.75rem);
    --qui-spacer: var(--theme--qui-spacer--desktop);
    --qui-spacing-xs: calc(var(--qui-spacer) * 0.25);
    --qui-spacing-sm: calc(var(--qui-spacer) * 0.75);
    --qui-spacing: var(--qui-spacer); /* default */
    --qui-spacing-md: calc(var(--qui-spacer) * 1.25);
    --qui-spacing-lg: calc(var(--qui-spacer) * 1.75);
    --qui-spacing-xl: calc(var(--qui-spacer) * 2);
    --qui-spacing-2xl: calc(var(--qui-spacer) * 2.5);
    --qui-spacing-3xl: calc(var(--qui-spacer) * 3.5);
    --qui-spacing-4xl: calc(var(--qui-spacer) * 4.5);
    --qui-spacing-5xl: calc(var(--qui-spacer) * 5.5);
    --qui-spacing-6xl: calc(var(--qui-spacer) * 6);

    /* the suffix naming bases on brick settings */
    /* for verticalSpacingTop and verticalSpacingBottom */
    --qui-row-spacer--desktop: var(--theme--qui-row-spacer--desktop, 3rem);
    --qui-row-spacer--mobile: var(--theme--qui-row-spacer--mobile, 2rem);
    --qui-row-spacer: var(--qui-row-spacer--desktop);
    --qui-row-spacing--disabled: 0;
    --qui-row-spacing--extraSmall: calc(var(--qui-row-spacer) * 0.25);
    --qui-row-spacing--small: calc(var(--qui-row-spacer) * 0.5);
    --qui-row-spacing--base: var(--qui-row-spacer);
    --qui-row-spacing--medium: calc(var(--qui-row-spacer) * 2);
    --qui-row-spacing--large: calc(var(--qui-row-spacer) * 3);
    --qui-row-spacing--extraLarge: calc(var(--qui-row-spacer) * 5);

    --qui-tpl-spacing--top: var(--theme--qui-tpl-spacing--top, var(--qui-row-spacing));
    --qui-tpl-spacing--bottom: var(--theme--qui-tpl-spacing--bottom, var(--qui-row-spacing));

    /* nav */
    --qui-nav-color: #ffffff; /* template settings override this variable */
    --qui-nav-position: absolute; /* template settings override this variable */
    --qui-nav-bg: #2d4d88; /* template settings override this variable */
    --qui-nav-bg-lighter: #435f94; /* template settings override this variable */
    --qui-nav-height: var(--template-settings__nav-height);
    --qui-nav-scrolled-bg: var(--qui-nav-bg); /* template settings override this variable */
    --qui-body-container-top: var(--template-settings__body-container-top);
    --qui-nav-mobile-bg: #252122; /* template settings override this variable */
    --qui-nav-mobile-font-color: #ffffff; /* template settings override this variable */
    --qui-nav-mobile-social-bar-bg: #3b3839; /* template settings override this variable */

    /* header */
    --qui-header-min-height: 300; /* template settings override this variable */
    --qui-header-img-position: center; /* template settings override this variable */

    /* footer */
    --qui-footer-bg: var(--template-settings__footer-bgColor);
    --qui-footer-font-color: var(--template-settings__footer-text-color);
    --qui-footer-copyrigth-border-top-color: var(--template-settings__footer-link-color);

    /* background */
    --qui-bg-primary: #ddd; /* todo  */
    --qui-bg-secondary: #f5f5f5; /* todo */

    /* screen sizes */
    --qui-screen-lg: 1400px;
    --qui-screen-md: 1100px;
    --qui-screen-sm: 767px;
    --qui-screen-xs: 440px;
}

@media screen and (max-width: 767px) {
    :root {
        --qui-spacer: var(--qui-spacer--mobile);
        --qui-row-spacer: var(--qui-row-spacer--mobile);
    }
}

