/**
 * Set your own variables by using "--theme" prefix, for example:
 * - To change success color set variable --theme--qui-colors-success
 * - To change font size set variable --theme--qui-font-size
 */

:root {
    --qui-nav-maxWidth: var(--theme--qui-nav-maxWidth, var(--template-settings__nav-maxWidth, 1200px));
    --qui-nav-position: var(--theme--qui-nav-position, var(--template-settings__nav-position, absolute));
    --qui-nav-alignment: var(--theme--qui-nav-position, var(--template-settings__nav-aligment, center));
    --qui-nav-bgColor: var(--theme--qui-nav-bgColor, var(--template-settings__nav-bgColor ,#2d4d88));
    --qui-nav-bgColor--scrolled: var(--theme--qui-nav-bgColor--scrolled, var(--template-settings__nav-bgColor--scrolled, var(--qui-nav-bgColor)));
    --qui-nav-link-color: var(--theme--qui-nav-link-color, var(--template-settings__nav-link-color, #ffffff));
    --qui-nav-link-color--hover: var(--theme--qui-nav-link-color--hover, var(--template-settings__nav-link-color--hover, #ffffff));
    --qui-nav-link-bgColor--hover: var(--theme--qui-nav-link-bgColor--hover, var(--template-settings__nav-link-bgColor--hover, color-mix(in srgb, var(--qui-nav-bgColor) 90%, black)));
    --qui-nav-initialTransparent-link-color: var(--theme--qui-nav-initialTransparent-link-color, var(--template-settings__nav-initialTransparent-link-color, var(--qui-colors-body)));
    --qui-nav-initialTransparent-link-color--hover: var(--theme--qui-nav-initialTransparent-link-color--hover, var(--template-settings__nav-initialTransparent-link-color--hover, var(--qui-colors-body)));
    --qui-nav-initialTransparent-link-bgColor--hover: var(--theme--qui-nav-initialTransparent-link-bgColor--hover, var(--template-settings__nav-initialTransparent-link-bgColor--hover, color-mix(in srgb, var(--qui-nav-bgColor) 90%, black)));
    --qui-nav-subMenu-bgColor: var(--theme--qui-nav-subMenu-bgColor, var(--template-settings__nav-subMenu-bgColor ,#2d4d88));
    /*--qui-nav-openerMobileBtn-show: var(--theme--qui-nav-openerMobileBtn-show, none);*/
    --qui-nav-height: var(--template-settings__nav-height);
    --qui-nav-mobile-bg: var(--theme--qui-nav-mobile-bg, var(--template-settings__nav-mobile-bgColor, #252122));
    --qui-nav-mobile-font-color: var(--theme--qui-nav-mobile-font-color, var(--template-settings__nav-mobile-text-color, #ffffff));
    --qui-nav-mobile-social-bar-bg: var(--theme--qui-nav-mobile-social-bar-bg, color-mix(in srgb, var(--qui-nav-mobile-bg) 95%, white));

    /* search */
    --qui-nav-search-input-color: var(--theme--qui-nav-search-input-color, var(--qui-nav-link-color));
    --qui-nav-search-input-placeholder-color: var(--theme--qui-nav-search-input-placeholder-color, color-mix(in srgb, var(--qui-nav-link-color) 50%, transparent));
    --qui-nav-search-input-bgColor: var(--theme--qui-nav-search-input-bgColor, rgba(0,0,0,0.1));
    --qui-nav-search-input-borderColor: var(--theme--qui-nav-search-input-borderColor, transparent);
    --qui-nav-search-input-color--hover: var(--theme--qui-nav-search-input-color--hover, var(--qui-nav-link-color--hover));
    --qui-nav-search-input-bgColor--hover: var(--theme--qui-nav-search-input-bgColor--hover, rgba(0,0,0,0.15));
    --qui-nav-search-input-borderColor--hover: var(--theme--qui-nav-search-input-borderColor--hover, transparent);
}