.quiqqer-suggestSearch-wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative;
    line-height: 60px;
    font-size: 20px;
    border: 2px solid;
    border-radius: 60px;
    overflow: hidden;
}

.quiqqer-suggestSearch-wrapper .fa {
    position: absolute;
    left: 0;
    width: 60px;
    text-align: center;
    top: 0;
    line-height: inherit;
    opacity: 0.3;
}

.quiqqer-suggestSearch-wrapper input {
    width: 100%;
    background: none;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 60px;
    line-height: inherit;
    margin: 0;
    font-size: inherit;
    opacity: 1;
}

.quiqqer-suggestSearch-wrapper input::-webkit-input-placeholder {
    color: #e5e5e5;
}

.quiqqer-suggestSearch-wrapper input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.quiqqer-suggestSearch-wrapper input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.quiqqer-suggestSearch-wrapper:hover,
.quiqqer-suggestSearch-wrapper input:hover + .fa,
.quiqqer-suggestSearch-wrapper input:active + .fa,
.quiqqer-suggestSearch-wrapper input:focus + .fa {
    opacity: 1;
}

.quiqqer-search-suggest li {
    border-bottom: none !important;
}

.quiqqer-search-suggest .fa {
    opacity: 0.1;
    transition: 0s all;
}

.quiqqer-search-suggest li:hover .fa {
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .quiqqer-suggestSearch-wrapper {
        width: 100%;
    }
}