/**
 * This file contains button utility classes
 */

.btn-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .btn-container > .btn {
        width: 100%;
    }
}

/* Button stack: always stacked and full width */
.btn-stack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn-stack > .btn {
    width: 100%;
}