/**
 * This file contains color utility classes
 */

/* general */
.bg-body {
    background-color: var(--qui-colors-body);
}

.text-body {
    color: var(--qui-colors-body);
}

.text-muted {
    color: var(--qui-colors-muted);
}

/* black & white */
.bg-black {
    background-color: var(--qui-colors-black);
}

.text-black {
    color: var(--qui-colors-black);
}

.bg-white {
    background-color: var(--qui-colors-white);
}

.text-white {
    color: var(--qui-colors-white);
}

/* primary */
.bg-primary {
    background-color: var(--qui-colors-primary);
}

.text-primary {
    color: var(--qui-colors-primary);
}

.bg-primary-light {
    background-color: var(--qui-colors-primary--light);
}

.text-primary-light {
    color: var(--qui-colors-primary--light);
}

.bg-primary-dark {
    background-color: var(--qui-colors-primary--dark);
}

.text-primary-dark {
    color: var(--qui-colors-primary--dark);
}

.bg-primary-accent {
    background-color: var(--qui-colors-primary--accent);
}

.text-primary-accent {
    color: var(--qui-colors-primary--accent);
}

.bg-primary-25 {
    background-color: var(--qui-colors-primary-25);
}

.text-primary-25 {
    color: var(--qui-colors-primary-25);
}

.bg-primary-50 {
    background-color: var(--qui-colors-primary-50);
}

.text-primary-50 {
    color: var(--qui-colors-primary-50);
}

.bg-primary-100 {
    background-color: var(--qui-colors-primary-100);
}

.text-primary-100 {
    color: var(--qui-colors-primary-100);
}

.bg-primary-200 {
    background-color: var(--qui-colors-primary-200);
}

.text-primary-200 {
    color: var(--qui-colors-primary-200);
}

.bg-primary-300 {
    background-color: var(--qui-colors-primary-300);
}

.text-primary-300 {
    color: var(--qui-colors-primary-300);
}

.bg-primary-400 {
    background-color: var(--qui-colors-primary-400);
}

.text-primary-400 {
    color: var(--qui-colors-primary-400);
}

.bg-primary-500 {
    background-color: var(--qui-colors-primary-500);
}

.text-primary-500 {
    color: var(--qui-colors-primary-500);
}

.bg-primary-600 {
    background-color: var(--qui-colors-primary-600);
}

.text-primary-600 {
    color: var(--qui-colors-primary-600);
}

.bg-primary-700 {
    background-color: var(--qui-colors-primary-700);
}

.text-primary-700 {
    color: var(--qui-colors-primary-700);
}

.bg-primary-800 {
    background-color: var(--qui-colors-primary-800);
}

.text-primary-800 {
    color: var(--qui-colors-primary-800);
}

.bg-primary-900 {
    background-color: var(--qui-colors-primary-900);
}

.text-primary-900 {
    color: var(--qui-colors-primary-900);
}

.bg-primary-950 {
    background-color: var(--qui-colors-primary-950);
}

.text-primary-950 {
    color: var(--qui-colors-primary-950);
}

/* secondary */
.bg-secondary {
    background-color: var(--qui-colors-secondary);
}

.text-secondary {
    color: var(--qui-colors-secondary);
}

.bg-secondary-25 {
    background-color: var(--qui-colors-secondary-25);
}

.text-secondary-25 {
    color: var(--qui-colors-secondary-25);
}

.bg-secondary-50 {
    background-color: var(--qui-colors-secondary-50);
}

.text-secondary-50 {
    color: var(--qui-colors-secondary-50);
}

.bg-secondary-100 {
    background-color: var(--qui-colors-secondary-100);
}

.text-secondary-100 {
    color: var(--qui-colors-secondary-100);
}

.bg-secondary-200 {
    background-color: var(--qui-colors-secondary-200);
}

.text-secondary-200 {
    color: var(--qui-colors-secondary-200);
}

.bg-secondary-300 {
    background-color: var(--qui-colors-secondary-300);
}

.text-secondary-300 {
    color: var(--qui-colors-secondary-300);
}

.bg-secondary-400 {
    background-color: var(--qui-colors-secondary-400);
}

.text-secondary-400 {
    color: var(--qui-colors-secondary-400);
}

.bg-secondary-500 {
    background-color: var(--qui-colors-secondary-500);
}

.text-secondary-500 {
    color: var(--qui-colors-secondary-500);
}

.bg-secondary-600 {
    background-color: var(--qui-colors-secondary-600);
}

.text-secondary-600 {
    color: var(--qui-colors-secondary-600);
}

.bg-secondary-700 {
    background-color: var(--qui-colors-secondary-700);
}

.text-secondary-700 {
    color: var(--qui-colors-secondary-700);
}

.bg-secondary-800 {
    background-color: var(--qui-colors-secondary-800);
}

.text-secondary-800 {
    color: var(--qui-colors-secondary-800);
}

.bg-secondary-900 {
    background-color: var(--qui-colors-secondary-900);
}

.text-secondary-900 {
    color: var(--qui-colors-secondary-900);
}

.bg-secondary-950 {
    background-color: var(--qui-colors-secondary-950);
}

.text-secondary-950 {
    color: var(--qui-colors-secondary-950);
}

/* success */
.bg-success {
    background-color: var(--qui-colors-success);
}

.text-success {
    color: var(--qui-colors-success);
}

.bg-success-25 {
    background-color: var(--qui-colors-success-25);
}

.text-success-25 {
    color: var(--qui-colors-success-25);
}

.bg-success-50 {
    background-color: var(--qui-colors-success-50);
}

.text-success-50 {
    color: var(--qui-colors-success-50);
}

.bg-success-100 {
    background-color: var(--qui-colors-success-100);
}

.text-success-100 {
    color: var(--qui-colors-success-100);
}

.bg-success-200 {
    background-color: var(--qui-colors-success-200);
}

.text-success-200 {
    color: var(--qui-colors-success-200);
}

.bg-success-300 {
    background-color: var(--qui-colors-success-300);
}

.text-success-300 {
    color: var(--qui-colors-success-300);
}

.bg-success-400 {
    background-color: var(--qui-colors-success-400);
}

.text-success-400 {
    color: var(--qui-colors-success-400);
}

.bg-success-500 {
    background-color: var(--qui-colors-success-500);
}

.text-success-500 {
    color: var(--qui-colors-success-500);
}

.bg-success-600 {
    background-color: var(--qui-colors-success-600);
}

.text-success-600 {
    color: var(--qui-colors-success-600);
}

.bg-success-700 {
    background-color: var(--qui-colors-success-700);
}

.text-success-700 {
    color: var(--qui-colors-success-700);
}

.bg-success-800 {
    background-color: var(--qui-colors-success-800);
}

.text-success-800 {
    color: var(--qui-colors-success-800);
}

.bg-success-900 {
    background-color: var(--qui-colors-success-900);
}

.text-success-900 {
    color: var(--qui-colors-success-900);
}

.bg-success-950 {
    background-color: var(--qui-colors-success-950);
}

.text-success-950 {
    color: var(--qui-colors-success-950);
}

/* danger */
.bg-danger {
    background-color: var(--qui-colors-danger);
}

.text-danger {
    color: var(--qui-colors-danger);
}

.bg-danger-25 {
    background-color: var(--qui-colors-danger-25);
}

.text-danger-25 {
    color: var(--qui-colors-danger-25);
}

.bg-danger-50 {
    background-color: var(--qui-colors-danger-50);
}

.text-danger-50 {
    color: var(--qui-colors-danger-50);
}

.bg-danger-100 {
    background-color: var(--qui-colors-danger-100);
}

.text-danger-100 {
    color: var(--qui-colors-danger-100);
}

.bg-danger-200 {
    background-color: var(--qui-colors-danger-200);
}

.text-danger-200 {
    color: var(--qui-colors-danger-200);
}

.bg-danger-300 {
    background-color: var(--qui-colors-danger-300);
}

.text-danger-300 {
    color: var(--qui-colors-danger-300);
}

.bg-danger-400 {
    background-color: var(--qui-colors-danger-400);
}

.text-danger-400 {
    color: var(--qui-colors-danger-400);
}

.bg-danger-500 {
    background-color: var(--qui-colors-danger-500);
}

.text-danger-500 {
    color: var(--qui-colors-danger-500);
}

.bg-danger-600 {
    background-color: var(--qui-colors-danger-600);
}

.text-danger-600 {
    color: var(--qui-colors-danger-600);
}

.bg-danger-700 {
    background-color: var(--qui-colors-danger-700);
}

.text-danger-700 {
    color: var(--qui-colors-danger-700);
}

.bg-danger-800 {
    background-color: var(--qui-colors-danger-800);
}

.text-danger-800 {
    color: var(--qui-colors-danger-800);
}

.bg-danger-900 {
    background-color: var(--qui-colors-danger-900);
}

.text-danger-900 {
    color: var(--qui-colors-danger-900);
}

.bg-danger-950 {
    background-color: var(--qui-colors-danger-950);
}

.text-danger-950 {
    color: var(--qui-colors-danger-950);
}

/* warning */
.bg-warning {
    background-color: var(--qui-colors-warning);
}

.text-warning {
    color: var(--qui-colors-warning);
}

.bg-warning-25 {
    background-color: var(--qui-colors-warning-25);
}

.text-warning-25 {
    color: var(--qui-colors-warning-25);
}

.bg-warning-50 {
    background-color: var(--qui-colors-warning-50);
}

.text-warning-50 {
    color: var(--qui-colors-warning-50);
}

.bg-warning-100 {
    background-color: var(--qui-colors-warning-100);
}

.text-warning-100 {
    color: var(--qui-colors-warning-100);
}

.bg-warning-200 {
    background-color: var(--qui-colors-warning-200);
}

.text-warning-200 {
    color: var(--qui-colors-warning-200);
}

.bg-warning-300 {
    background-color: var(--qui-colors-warning-300);
}

.text-warning-300 {
    color: var(--qui-colors-warning-300);
}

.bg-warning-400 {
    background-color: var(--qui-colors-warning-400);
}

.text-warning-400 {
    color: var(--qui-colors-warning-400);
}

.bg-warning-500 {
    background-color: var(--qui-colors-warning-500);
}

.text-warning-500 {
    color: var(--qui-colors-warning-500);
}

.bg-warning-600 {
    background-color: var(--qui-colors-warning-600);
}

.text-warning-600 {
    color: var(--qui-colors-warning-600);
}

.bg-warning-700 {
    background-color: var(--qui-colors-warning-700);
}

.text-warning-700 {
    color: var(--qui-colors-warning-700);
}

.bg-warning-800 {
    background-color: var(--qui-colors-warning-800);
}

.text-warning-800 {
    color: var(--qui-colors-warning-800);
}

.bg-warning-900 {
    background-color: var(--qui-colors-warning-900);
}

.text-warning-900 {
    color: var(--qui-colors-warning-900);
}

.bg-warning-950 {
    background-color: var(--qui-colors-warning-950);
}

.text-warning-950 {
    color: var(--qui-colors-warning-950);
}

/* info */
.bg-info {
    background-color: var(--qui-colors-info);
}

.text-info {
    color: var(--qui-colors-info);
}

.bg-info-25 {
    background-color: var(--qui-colors-info-25);
}

.text-info-25 {
    color: var(--qui-colors-info-25);
}

.bg-info-50 {
    background-color: var(--qui-colors-info-50);
}

.text-info-50 {
    color: var(--qui-colors-info-50);
}

.bg-info-100 {
    background-color: var(--qui-colors-info-100);
}

.text-info-100 {
    color: var(--qui-colors-info-100);
}

.bg-info-200 {
    background-color: var(--qui-colors-info-200);
}

.text-info-200 {
    color: var(--qui-colors-info-200);
}

.bg-info-300 {
    background-color: var(--qui-colors-info-300);
}

.text-info-300 {
    color: var(--qui-colors-info-300);
}

.bg-info-400 {
    background-color: var(--qui-colors-info-400);
}

.text-info-400 {
    color: var(--qui-colors-info-400);
}

.bg-info-500 {
    background-color: var(--qui-colors-info-500);
}

.text-info-500 {
    color: var(--qui-colors-info-500);
}

.bg-info-600 {
    background-color: var(--qui-colors-info-600);
}

.text-info-600 {
    color: var(--qui-colors-info-600);
}

.bg-info-700 {
    background-color: var(--qui-colors-info-700);
}

.text-info-700 {
    color: var(--qui-colors-info-700);
}

.bg-info-800 {
    background-color: var(--qui-colors-info-800);
}

.text-info-800 {
    color: var(--qui-colors-info-800);
}

.bg-info-900 {
    background-color: var(--qui-colors-info-900);
}

.text-info-900 {
    color: var(--qui-colors-info-900);
}

.bg-info-950 {
    background-color: var(--qui-colors-info-950);
}

.text-info-950 {
    color: var(--qui-colors-info-950);
}

/* gray */
.bg-gray {
    background-color: var(--qui-colors-gray);
}

.text-gray {
    color: var(--qui-colors-gray);
}

.bg-gray-25 {
    background-color: var(--qui-colors-gray-25);
}

.text-gray-25 {
    color: var(--qui-colors-gray-25);
}

.bg-gray-50 {
    background-color: var(--qui-colors-gray-50);
}

.text-gray-50 {
    color: var(--qui-colors-gray-50);
}

.bg-gray-100 {
    background-color: var(--qui-colors-gray-100);
}

.text-gray-100 {
    color: var(--qui-colors-gray-100);
}

.bg-gray-200 {
    background-color: var(--qui-colors-gray-200);
}

.text-gray-200 {
    color: var(--qui-colors-gray-200);
}

.bg-gray-300 {
    background-color: var(--qui-colors-gray-300);
}

.text-gray-300 {
    color: var(--qui-colors-gray-300);
}

.bg-gray-400 {
    background-color: var(--qui-colors-gray-400);
}

.text-gray-400 {
    color: var(--qui-colors-gray-400);
}

.bg-gray-500 {
    background-color: var(--qui-colors-gray-500);
}

.text-gray-500 {
    color: var(--qui-colors-gray-500);
}

.bg-gray-600 {
    background-color: var(--qui-colors-gray-600);
}

.text-gray-600 {
    color: var(--qui-colors-gray-600);
}

.bg-gray-700 {
    background-color: var(--qui-colors-gray-700);
}

.text-gray-700 {
    color: var(--qui-colors-gray-700);
}

.bg-gray-800 {
    background-color: var(--qui-colors-gray-800);
}

.text-gray-800 {
    color: var(--qui-colors-gray-800);
}

.bg-gray-900 {
    background-color: var(--qui-colors-gray-900);
}

.text-gray-900 {
    color: var(--qui-colors-gray-900);
}

.bg-gray-950 {
    background-color: var(--qui-colors-gray-950);
}

.text-gray-950 {
    color: var(--qui-colors-gray-950);
}

/* light */
.bg-light {
    background-color: var(--qui-colors-light);
}

.text-light {
    color: var(--qui-colors-light);
}

.bg-light-25 {
    background-color: var(--qui-colors-light-25);
}

.text-light-25 {
    color: var(--qui-colors-light-25);
}

.bg-light-50 {
    background-color: var(--qui-colors-light-50);
}

.text-light-50 {
    color: var(--qui-colors-light-50);
}

.bg-light-100 {
    background-color: var(--qui-colors-light-100);
}

.text-light-100 {
    color: var(--qui-colors-light-100);
}

.bg-light-200 {
    background-color: var(--qui-colors-light-200);
}

.text-light-200 {
    color: var(--qui-colors-light-200);
}

.bg-light-300 {
    background-color: var(--qui-colors-light-300);
}

.text-light-300 {
    color: var(--qui-colors-light-300);
}

.bg-light-400 {
    background-color: var(--qui-colors-light-400);
}

.text-light-400 {
    color: var(--qui-colors-light-400);
}

.bg-light-500 {
    background-color: var(--qui-colors-light-500);
}

.text-light-500 {
    color: var(--qui-colors-light-500);
}

.bg-light-600 {
    background-color: var(--qui-colors-light-600);
}

.text-light-600 {
    color: var(--qui-colors-light-600);
}

.bg-light-700 {
    background-color: var(--qui-colors-light-700);
}

.text-light-700 {
    color: var(--qui-colors-light-700);
}

.bg-light-800 {
    background-color: var(--qui-colors-light-800);
}

.text-light-800 {
    color: var(--qui-colors-light-800);
}

.bg-light-900 {
    background-color: var(--qui-colors-light-900);
}

.text-light-900 {
    color: var(--qui-colors-light-900);
}

.bg-light-950 {
    background-color: var(--qui-colors-light-950);
}

.text-light-950 {
    color: var(--qui-colors-light-950);
}

/* dark */
.bg-dark {
    background-color: var(--qui-colors-dark);
}

.text-dark {
    color: var(--qui-colors-dark);
}

.bg-dark-25 {
    background-color: var(--qui-colors-dark-25);
}

.text-dark-25 {
    color: var(--qui-colors-dark-25);
}

.bg-dark-50 {
    background-color: var(--qui-colors-dark-50);
}

.text-dark-50 {
    color: var(--qui-colors-dark-50);
}

.bg-dark-100 {
    background-color: var(--qui-colors-dark-100);
}

.text-dark-100 {
    color: var(--qui-colors-dark-100);
}

.bg-dark-200 {
    background-color: var(--qui-colors-dark-200);
}

.text-dark-200 {
    color: var(--qui-colors-dark-200);
}

.bg-dark-300 {
    background-color: var(--qui-colors-dark-300);
}

.text-dark-300 {
    color: var(--qui-colors-dark-300);
}

.bg-dark-400 {
    background-color: var(--qui-colors-dark-400);
}

.text-dark-400 {
    color: var(--qui-colors-dark-400);
}

.bg-dark-500 {
    background-color: var(--qui-colors-dark-500);
}

.text-dark-500 {
    color: var(--qui-colors-dark-500);
}

.bg-dark-600 {
    background-color: var(--qui-colors-dark-600);
}

.text-dark-600 {
    color: var(--qui-colors-dark-600);
}

.bg-dark-700 {
    background-color: var(--qui-colors-dark-700);
}

.text-dark-700 {
    color: var(--qui-colors-dark-700);
}

.bg-dark-800 {
    background-color: var(--qui-colors-dark-800);
}

.text-dark-800 {
    color: var(--qui-colors-dark-800);
}

.bg-dark-900 {
    background-color: var(--qui-colors-dark-900);
}

.text-dark-900 {
    color: var(--qui-colors-dark-900);
}

.bg-dark-950 {
    background-color: var(--qui-colors-dark-950);
}

.text-dark-950 {
    color: var(--qui-colors-dark-950);
}