/**
 * This file contains spacing utility classes
 */

/* Margin Utilities */
.mx-auto { margin-inline: auto; }
.mt-auto { margin-top: auto; }
.mb-auto { margin-bottom: auto; }
.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }

.m-0 { margin: 0 }
.m-1 { margin: 0.25rem }
.m-2 { margin: 0.5rem }
.m-3 { margin: 1rem }
.m-4 { margin: 1.5rem }
.m-5 { margin: 3rem }

.mt-0 { margin-top: 0 }
.mt-1 { margin-top: 0.25rem }
.mt-2 { margin-top: 0.5rem }
.mt-3 { margin-top: 1rem }
.mt-4 { margin-top: 1.5rem }
.mt-5 { margin-top: 3rem }

.mb-0 { margin-bottom: 0 }
.mb-1 { margin-bottom: 0.25rem }
.mb-2 { margin-bottom: 0.5rem }
.mb-3 { margin-bottom: 1rem }
.mb-4 { margin-bottom: 1.5rem }
.mb-5 { margin-bottom: 3rem }

.ml-0 { margin-left: 0 }
.ml-1 { margin-left: 0.25rem }
.ml-2 { margin-left: 0.5rem }
.ml-3 { margin-left: 1rem }
.ml-4 { margin-left: 1.5rem }
.ml-5 { margin-left: 3rem }

.mr-0 { margin-right: 0 }
.mr-1 { margin-right: 0.25rem }
.mr-2 { margin-right: 0.5rem }
.mr-3 { margin-right: 1rem }
.mr-4 { margin-right: 1.5rem }
.mr-5 { margin-right: 3rem }

.mx-0 { margin-inline: 0 }
.mx-1 { margin-inline: 0.25rem }
.mx-2 { margin-inline: 0.5rem }
.mx-3 { margin-inline: 1rem }
.mx-4 { margin-inline: 1.5rem }
.mx-5 { margin-inline: 3rem }

.my-0 { margin-block: 0 }
.my-1 { margin-block: 0.25rem }
.my-2 { margin-block: 0.5rem }
.my-3 { margin-block: 1rem }
.my-4 { margin-block: 1.5rem }
.my-5 { margin-block: 3rem }

/* padding */

/* Padding Utilities */
.p-0 { padding: 0 }
.p-1 { padding: 0.25rem }
.p-2 { padding: 0.5rem }
.p-3 { padding: 1rem }
.p-4 { padding: 1.5rem }
.p-5 { padding: 3rem }

.pt-0 { padding-top: 0 }
.pt-1 { padding-top: 0.25rem }
.pt-2 { padding-top: 0.5rem }
.pt-3 { padding-top: 1rem }
.pt-4 { padding-top: 1.5rem }
.pt-5 { padding-top: 3rem }

.pb-0 { padding-bottom: 0 }
.pb-1 { padding-bottom: 0.25rem }
.pb-2 { padding-bottom: 0.5rem }
.pb-3 { padding-bottom: 1rem }
.pb-4 { padding-bottom: 1.5rem }
.pb-5 { padding-bottom: 3rem }

.pl-0 { padding-left: 0 }
.pl-1 { padding-left: 0.25rem }
.pl-2 { padding-left: 0.5rem }
.pl-3 { padding-left: 1rem }
.pl-4 { padding-left: 1.5rem }
.pl-5 { padding-left: 3rem }

.pr-0 { padding-right: 0 }
.pr-1 { padding-right: 0.25rem }
.pr-2 { padding-right: 0.5rem }
.pr-3 { padding-right: 1rem }
.pr-4 { padding-right: 1.5rem }
.pr-5 { padding-right: 3rem }

.px-0 { padding-inline: 0 }
.px-1 { padding-inline: 0.25rem }
.px-2 { padding-inline: 0.5rem }
.px-3 { padding-inline: 1rem }
.px-4 { padding-inline: 1.5rem }
.px-5 { padding-inline: 3rem }

.py-0 { padding-block: 0 }
.py-1 { padding-block: 0.25rem }
.py-2 { padding-block: 0.5rem }
.py-3 { padding-block: 1rem }
.py-4 { padding-block: 1.5rem }
.py-5 { padding-block: 3rem }

@media (min-width: 640px) {
    .sm\:m-0 { margin: 0 }
    .sm\:m-1 { margin: 0.25rem }
    .sm\:m-2 { margin: 0.5rem }
    .sm\:m-3 { margin: 1rem }
    .sm\:m-4 { margin: 1.5rem }
    .sm\:m-5 { margin: 3rem }

    .sm\:mt-0 { margin-top: 0 }
    .sm\:mt-1 { margin-top: 0.25rem }
    .sm\:mt-2 { margin-top: 0.5rem }
    .sm\:mt-3 { margin-top: 1rem }
    .sm\:mt-4 { margin-top: 1.5rem }
    .sm\:mt-5 { margin-top: 3rem }

    .sm\:mb-0 { margin-bottom: 0 }
    .sm\:mb-1 { margin-bottom: 0.25rem }
    .sm\:mb-2 { margin-bottom: 0.5rem }
    .sm\:mb-3 { margin-bottom: 1rem }
    .sm\:mb-4 { margin-bottom: 1.5rem }
    .sm\:mb-5 { margin-bottom: 3rem }

    .sm\:ml-0 { margin-left: 0 }
    .sm\:ml-1 { margin-left: 0.25rem }
    .sm\:ml-2 { margin-left: 0.5rem }
    .sm\:ml-3 { margin-left: 1rem }
    .sm\:ml-4 { margin-left: 1.5rem }
    .sm\:ml-5 { margin-left: 3rem }

    .sm\:mr-0 { margin-right: 0 }
    .sm\:mr-1 { margin-right: 0.25rem }
    .sm\:mr-2 { margin-right: 0.5rem }
    .sm\:mr-3 { margin-right: 1rem }
    .sm\:mr-4 { margin-right: 1.5rem }
    .sm\:mr-5 { margin-right: 3rem }

    .sm\:mx-0 { margin-inline: 0 }
    .sm\:mx-1 { margin-inline: 0.25rem }
    .sm\:mx-2 { margin-inline: 0.5rem }
    .sm\:mx-3 { margin-inline: 1rem }
    .sm\:mx-4 { margin-inline: 1.5rem }
    .sm\:mx-5 { margin-inline: 3rem }

    .sm\:my-0 { margin-block: 0 }
    .sm\:my-1 { margin-block: 0.25rem }
    .sm\:my-2 { margin-block: 0.5rem }
    .sm\:my-3 { margin-block: 1rem }
    .sm\:my-4 { margin-block: 1.5rem }
    .sm\:my-5 { margin-block: 3rem }

    .sm\:p-0 { padding: 0 }
    .sm\:p-1 { padding: 0.25rem }
    .sm\:p-2 { padding: 0.5rem }
    .sm\:p-3 { padding: 1rem }
    .sm\:p-4 { padding: 1.5rem }
    .sm\:p-5 { padding: 3rem }

    .sm\:pt-0 { padding-top: 0 }
    .sm\:pt-1 { padding-top: 0.25rem }
    .sm\:pt-2 { padding-top: 0.5rem }
    .sm\:pt-3 { padding-top: 1rem }
    .sm\:pt-4 { padding-top: 1.5rem }
    .sm\:pt-5 { padding-top: 3rem }

    .sm\:pb-0 { padding-bottom: 0 }
    .sm\:pb-1 { padding-bottom: 0.25rem }
    .sm\:pb-2 { padding-bottom: 0.5rem }
    .sm\:pb-3 { padding-bottom: 1rem }
    .sm\:pb-4 { padding-bottom: 1.5rem }
    .sm\:pb-5 { padding-bottom: 3rem }

    .sm\:pl-0 { padding-left: 0 }
    .sm\:pl-1 { padding-left: 0.25rem }
    .sm\:pl-2 { padding-left: 0.5rem }
    .sm\:pl-3 { padding-left: 1rem }
    .sm\:pl-4 { padding-left: 1.5rem }
    .sm\:pl-5 { padding-left: 3rem }

    .sm\:pr-0 { padding-right: 0 }
    .sm\:pr-1 { padding-right: 0.25rem }
    .sm\:pr-2 { padding-right: 0.5rem }
    .sm\:pr-3 { padding-right: 1rem }
    .sm\:pr-4 { padding-right: 1.5rem }
    .sm\:pr-5 { padding-right: 3rem }

    .sm\:px-0 { padding-inline: 0 }
    .sm\:px-1 { padding-inline: 0.25rem }
    .sm\:px-2 { padding-inline: 0.5rem }
    .sm\:px-3 { padding-inline: 1rem }
    .sm\:px-4 { padding-inline: 1.5rem }
    .sm\:px-5 { padding-inline: 3rem }

    .sm\:py-0 { padding-block: 0 }
    .sm\:py-1 { padding-block: 0.25rem }
    .sm\:py-2 { padding-block: 0.5rem }
    .sm\:py-3 { padding-block: 1rem }
    .sm\:py-4 { padding-block: 1.5rem }
    .sm\:py-5 { padding-block: 3rem }
}

@media (min-width: 768px) {
    .md\:m-0 { margin: 0 }
    .md\:m-1 { margin: 0.25rem }
    .md\:m-2 { margin: 0.5rem }
    .md\:m-3 { margin: 1rem }
    .md\:m-4 { margin: 1.5rem }
    .md\:m-5 { margin: 3rem }

    .md\:mt-0 { margin-top: 0 }
    .md\:mt-1 { margin-top: 0.25rem }
    .md\:mt-2 { margin-top: 0.5rem }
    .md\:mt-3 { margin-top: 1rem }
    .md\:mt-4 { margin-top: 1.5rem }
    .md\:mt-5 { margin-top: 3rem }

    .md\:mb-0 { margin-bottom: 0 }
    .md\:mb-1 { margin-bottom: 0.25rem }
    .md\:mb-2 { margin-bottom: 0.5rem }
    .md\:mb-3 { margin-bottom: 1rem }
    .md\:mb-4 { margin-bottom: 1.5rem }
    .md\:mb-5 { margin-bottom: 3rem }

    .md\:ml-0 { margin-left: 0 }
    .md\:ml-1 { margin-left: 0.25rem }
    .md\:ml-2 { margin-left: 0.5rem }
    .md\:ml-3 { margin-left: 1rem }
    .md\:ml-4 { margin-left: 1.5rem }
    .md\:ml-5 { margin-left: 3rem }

    .md\:mr-0 { margin-right: 0 }
    .md\:mr-1 { margin-right: 0.25rem }
    .md\:mr-2 { margin-right: 0.5rem }
    .md\:mr-3 { margin-right: 1rem }
    .md\:mr-4 { margin-right: 1.5rem }
    .md\:mr-5 { margin-right: 3rem }

    .md\:mx-0 { margin-inline: 0 }
    .md\:mx-1 { margin-inline: 0.25rem }
    .md\:mx-2 { margin-inline: 0.5rem }
    .md\:mx-3 { margin-inline: 1rem }
    .md\:mx-4 { margin-inline: 1.5rem }
    .md\:mx-5 { margin-inline: 3rem }

    .md\:my-0 { margin-block: 0 }
    .md\:my-1 { margin-block: 0.25rem }
    .md\:my-2 { margin-block: 0.5rem }
    .md\:my-3 { margin-block: 1rem }
    .md\:my-4 { margin-block: 1.5rem }
    .md\:my-5 { margin-block: 3rem }

    .md\:p-0 { padding: 0 }
    .md\:p-1 { padding: 0.25rem }
    .md\:p-2 { padding: 0.5rem }
    .md\:p-3 { padding: 1rem }
    .md\:p-4 { padding: 1.5rem }
    .md\:p-5 { padding: 3rem }

    .md\:pt-0 { padding-top: 0 }
    .md\:pt-1 { padding-top: 0.25rem }
    .md\:pt-2 { padding-top: 0.5rem }
    .md\:pt-3 { padding-top: 1rem }
    .md\:pt-4 { padding-top: 1.5rem }
    .md\:pt-5 { padding-top: 3rem }

    .md\:pb-0 { padding-bottom: 0 }
    .md\:pb-1 { padding-bottom: 0.25rem }
    .md\:pb-2 { padding-bottom: 0.5rem }
    .md\:pb-3 { padding-bottom: 1rem }
    .md\:pb-4 { padding-bottom: 1.5rem }
    .md\:pb-5 { padding-bottom: 3rem }

    .md\:pl-0 { padding-left: 0 }
    .md\:pl-1 { padding-left: 0.25rem }
    .md\:pl-2 { padding-left: 0.5rem }
    .md\:pl-3 { padding-left: 1rem }
    .md\:pl-4 { padding-left: 1.5rem }
    .md\:pl-5 { padding-left: 3rem }

    .md\:pr-0 { padding-right: 0 }
    .md\:pr-1 { padding-right: 0.25rem }
    .md\:pr-2 { padding-right: 0.5rem }
    .md\:pr-3 { padding-right: 1rem }
    .md\:pr-4 { padding-right: 1.5rem }
    .md\:pr-5 { padding-right: 3rem }

    .md\:px-0 { padding-inline: 0 }
    .md\:px-1 { padding-inline: 0.25rem }
    .md\:px-2 { padding-inline: 0.5rem }
    .md\:px-3 { padding-inline: 1rem }
    .md\:px-4 { padding-inline: 1.5rem }
    .md\:px-5 { padding-inline: 3rem }

    .md\:py-0 { padding-block: 0 }
    .md\:py-1 { padding-block: 0.25rem }
    .md\:py-2 { padding-block: 0.5rem }
    .md\:py-3 { padding-block: 1rem }
    .md\:py-4 { padding-block: 1.5rem }
    .md\:py-5 { padding-block: 3rem }
}

@media (min-width: 1024px) {
    .lg\:m-0 { margin: 0 }
    .lg\:m-1 { margin: 0.25rem }
    .lg\:m-2 { margin: 0.5rem }
    .lg\:m-3 { margin: 1rem }
    .lg\:m-4 { margin: 1.5rem }
    .lg\:m-5 { margin: 3rem }

    .lg\:mt-0 { margin-top: 0 }
    .lg\:mt-1 { margin-top: 0.25rem }
    .lg\:mt-2 { margin-top: 0.5rem }
    .lg\:mt-3 { margin-top: 1rem }
    .lg\:mt-4 { margin-top: 1.5rem }
    .lg\:mt-5 { margin-top: 3rem }

    .lg\:mb-0 { margin-bottom: 0 }
    .lg\:mb-1 { margin-bottom: 0.25rem }
    .lg\:mb-2 { margin-bottom: 0.5rem }
    .lg\:mb-3 { margin-bottom: 1rem }
    .lg\:mb-4 { margin-bottom: 1.5rem }
    .lg\:mb-5 { margin-bottom: 3rem }

    .lg\:ml-0 { margin-left: 0 }
    .lg\:ml-1 { margin-left: 0.25rem }
    .lg\:ml-2 { margin-left: 0.5rem }
    .lg\:ml-3 { margin-left: 1rem }
    .lg\:ml-4 { margin-left: 1.5rem }
    .lg\:ml-5 { margin-left: 3rem }

    .lg\:mr-0 { margin-right: 0 }
    .lg\:mr-1 { margin-right: 0.25rem }
    .lg\:mr-2 { margin-right: 0.5rem }
    .lg\:mr-3 { margin-right: 1rem }
    .lg\:mr-4 { margin-right: 1.5rem }
    .lg\:mr-5 { margin-right: 3rem }

    .lg\:mx-0 { margin-inline: 0 }
    .lg\:mx-1 { margin-inline: 0.25rem }
    .lg\:mx-2 { margin-inline: 0.5rem }
    .lg\:mx-3 { margin-inline: 1rem }
    .lg\:mx-4 { margin-inline: 1.5rem }
    .lg\:mx-5 { margin-inline: 3rem }

    .lg\:my-0 { margin-block: 0 }
    .lg\:my-1 { margin-block: 0.25rem }
    .lg\:my-2 { margin-block: 0.5rem }
    .lg\:my-3 { margin-block: 1rem }
    .lg\:my-4 { margin-block: 1.5rem }
    .lg\:my-5 { margin-block: 3rem }

    .lg\:p-0 { padding: 0 }
    .lg\:p-1 { padding: 0.25rem }
    .lg\:p-2 { padding: 0.5rem }
    .lg\:p-3 { padding: 1rem }
    .lg\:p-4 { padding: 1.5rem }
    .lg\:p-5 { padding: 3rem }

    .lg\:pt-0 { padding-top: 0 }
    .lg\:pt-1 { padding-top: 0.25rem }
    .lg\:pt-2 { padding-top: 0.5rem }
    .lg\:pt-3 { padding-top: 1rem }
    .lg\:pt-4 { padding-top: 1.5rem }
    .lg\:pt-5 { padding-top: 3rem }

    .lg\:pb-0 { padding-bottom: 0 }
    .lg\:pb-1 { padding-bottom: 0.25rem }
    .lg\:pb-2 { padding-bottom: 0.5rem }
    .lg\:pb-3 { padding-bottom: 1rem }
    .lg\:pb-4 { padding-bottom: 1.5rem }
    .lg\:pb-5 { padding-bottom: 3rem }

    .lg\:pl-0 { padding-left: 0 }
    .lg\:pl-1 { padding-left: 0.25rem }
    .lg\:pl-2 { padding-left: 0.5rem }
    .lg\:pl-3 { padding-left: 1rem }
    .lg\:pl-4 { padding-left: 1.5rem }
    .lg\:pl-5 { padding-left: 3rem }

    .lg\:pr-0 { padding-right: 0 }
    .lg\:pr-1 { padding-right: 0.25rem }
    .lg\:pr-2 { padding-right: 0.5rem }
    .lg\:pr-3 { padding-right: 1rem }
    .lg\:pr-4 { padding-right: 1.5rem }
    .lg\:pr-5 { padding-right: 3rem }

    .lg\:px-0 { padding-inline: 0 }
    .lg\:px-1 { padding-inline: 0.25rem }
    .lg\:px-2 { padding-inline: 0.5rem }
    .lg\:px-3 { padding-inline: 1rem }
    .lg\:px-4 { padding-inline: 1.5rem }
    .lg\:px-5 { padding-inline: 3rem }

    .lg\:py-0 { padding-block: 0 }
    .lg\:py-1 { padding-block: 0.25rem }
    .lg\:py-2 { padding-block: 0.5rem }
    .lg\:py-3 { padding-block: 1rem }
    .lg\:py-4 { padding-block: 1.5rem }
    .lg\:py-5 { padding-block: 3rem }
}