/**
 * This file contains text utility classes
 */

/* text width */
.text-width-xl {
    max-width: 80ch;
}

.text-width-lg {
    max-width: 50ch;
}

.text-width-md {
    max-width: 35ch;
}

.text-width-sm {
    max-width: 25ch;
}

.text-width-xs {
    max-width: 20ch;
}

/* text alignment */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* text style */
small, .small, .text-small {
    font-size: var(--qui-fs-sm);
}

strong,
.fw-bold {
    font-weight: bold;
}

.fw-bolder {
    font-weight: bolder;
}

.fw-normal {
    font-weight: normal;
}

.text-lead,
.lead {
    font-size: var(--qui-text-lead);
    line-height: 1.5;
}
