{assign var=prefixContentBricks value=$BricksManager->getBricksByArea('prefixContentBricks', $Site)}
{assign var=suffixContentBricks value=$BricksManager->getBricksByArea('suffixContentBricks', $Site)}
{assign var=TS value=$Template->getAttribute('TemplateSetting')}
{assign var=mainContentSpacingTopCSSVar value=$TS->getAttribute('mainContentSpacingTopCSSVar')}
{assign var=mainContentSpacingBottomCSSVar value=$TS->getAttribute('mainContentSpacingBottomCSSVar')}

{if !empty($prefixContentBricks)}
    {*
      Set "fullWidth" to true to avoid adding grid-container class in brick tpl file.
      In this layout we use .grid-container outside the brick tpl file.
    *}
    <div class="grid-container">
        <div class="tpl-brickArea-contentPrefix noSidebar--narrowContent">
            {foreach from=$prefixContentBricks item=Brick}
                {fetch template="template/bricks/brick.html" Brick=$Brick brickArea="contentPrefix" Template=$Template fullWidth=true}
            {/foreach}
        </div>
    </div>
{/if}

{*
  We need this extra div.grid-container becaouse .grid-container produces
  an ugly old clearfix (::before and ::after elements). This avoids margin overlapping
  of .main-content and .content-header, which results in a double margin.
*}
<div class="grid-container">
    <div role="main" class="main-content noSidebar--narrowContent" style="{$mainContentSpacingTopCSSVar} {$mainContentSpacingBottomCSSVar}">
        {if !$showHeader && ($showPageTitle || $showPageShort)}
            <div class="content-header page-intro">
                {if $showPageTitle}
                    <h1 itemprop="name" class="page-intro__title">
                        {$Site->getAttribute('title')}
                    </h1>
                {/if}

                {if $showPageShort}
                    <div class="content-short page-intro__short lead" itemprop="description">
                        {$Site->getAttribute('short')|nl2br}
                    </div>
                {/if}
            </div>
        {/if}

        {$Template->getBody()}
    </div>
</div>

{if !empty($suffixContentBricks)}
    {*
      Set "fullWidth" to true to avoid adding grid-container class in brick tpl file.
      In this layout we use .grid-container outside the brick tpl file.
    *}
    <div class="grid-container">
        <div class="tpl-brickArea-contentPrefix noSidebar--narrowContent">
            {foreach from=$suffixContentBricks item=Brick}
                {fetch template="template/bricks/brick.html" Brick=$Brick brickArea="contentSuffix" Template=$Template fullWidth=true}
            {/foreach}
        </div>
    </div>
{/if}