{assign var=Setting value=$Template->getAttribute('TemplateSetting')}
{assign var=Project value=$Site->getProject()}
{assign var=searchData value=$Setting->getAttribute('searchData')}
{assign var=searchType value=$searchData['searchType']}
{assign var=searchUrl value=$searchData['searchUrl']}
{assign var=dataQui value=$searchData['searchDataQui']}

{if $searchType === 'input'}
    <form action="{$searchUrl}"
          class="searchForm searchForm--onlyInput hide-on-mobile"
          method="get"
    >
        <input type="search" name="search"
               class="searchForm__input"
               {if $dataQui}data-qui="{$dataQui}"{/if}
               placeholder="{locale group='quiqqer/template-presentation' var='navbar.search.text'}"
        />
    </form>
{elseif $searchType === 'inputAndIcon'}
    <form action="{$searchUrl}"
          data-name="headerBar-searchForm"
          class="searchForm searchForm--inputAndIcon hide-on-mobile"
          method="get"
    >
        <div class="header-bar-suggestSearch-wrapper">
            <input type="search" name="search"
                   class="searchForm__input"
                   {if $dataQui}data-qui="{$dataQui}"{/if}
                   placeholder="{locale group='quiqqer/template-presentation' var='navbar.search.text'}"
            />
        </div>
        <button data-name="headerBar-searchForm-submit"
                class="btn searchForm__btn"
        >
            <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
        </button>
    </form>
{/if}

{*    <div class="quiqqer-menu-megaMenu-mobile-search">*}
{*        <a href="{$searchUrl}" class="header-bar-search-link searchMobile">*}
{*            <i class="fa-solid fa-magnifying-glass header-bar-search-icon"></i>*}
{*        </a>*}
{*    </div>*}
