{assign var=Setting value=$Template->getAttribute('TemplateSetting')}
{assign var=Project value=$Site->getProject()}
{assign var=searchType value=$Setting->getAttribute('searchType')}
{assign var=searchUrl value=$Setting->getAttribute('searchUrl')}
{assign var=dataQui value=$Setting->getAttribute('searchDataQui')}

{if $searchType === 'input'}
    <form  action="{$searchUrl}" class="header-bar-suggestSearch header-bar-suggestSearch--type-input hide-on-mobile" method="get">
        <input type="search" name="search" class="only-input" {$dataQui}
               placeholder="{locale group='quiqqer/template-presentation' var='navbar.search.text'}"
        />
    </form>
{elseif $searchType === 'inputAndIcon'}
    <form  action="{$searchUrl}" class="header-bar-suggestSearch header-bar-suggestSearch--type-icon hide-on-mobile" method="get">
        <div class="header-bar-suggestSearch-wrapper">
            <input type="search" name="search"
                   class="input-and-icon" {$dataQui}
                   placeholder="{locale group='quiqqer/template-presentation' var='navbar.search.text'}"
            />
        </div>
{*        <span class="fa fa-fw fa-search"></span>*}
        <i class="fa-solid fa-magnifying-glass"></i>
    </form>
{/if}

<div class="quiqqer-menu-megaMenu-mobile-search">
    <a href="{$searchUrl}" class="header-bar-search-link searchMobile">
{*        <i class="fa fa-search header-bar-search-icon"></i>*}
        <i class="fa-solid fa-magnifying-glass header-bar-search-icon"></i>
    </a>
</div>