{assign var=Setting value=$Template->getAttribute('TemplateSetting')}
{assign var=Project value=$Site->getProject()}
{assign var=searchData value=$Setting->getAttribute('searchData')}
{assign var=searchType value=$searchData['searchType']}
{assign var=searchUrl value=$searchData['searchUrl']}
{assign var=dataQui value=$searchData['searchDataQui']}

{if $searchType === 'input'}
    <form action="{$searchUrl}"
          class="headerBarSearchForm headerBarSearchForm--onlyInput hide-on-mobile"
          method="get"
    >
        <input type="search" name="search"
               class="headerBarSearchForm__input"
               {if $dataQui}data-qui="{$dataQui}"{/if}
               placeholder="{locale group='quiqqer/template-presentation' var='navbar.search.text'}"
        />
    </form>
{elseif $searchType === 'inputAndIcon'}
        <form action="{$searchUrl}"
              class="headerBarSearchForm headerBarSearchForm--inputAndIcon hide-on-mobile"
              data-name="headerBarSearchForm"
              data-show-input="0"
              method="get"
        >
            <div style="position: relative;">
                <div class="headerBarSearchForm__inputWrapper">
                    <input type="search" name="search"
                           data-name="headerBarSearchForm-input"
                           class="headerBarSearchForm__input"
                           {if $dataQui}data-qui="{$dataQui}"{/if}
                           placeholder="{locale group='quiqqer/template-presentation' var='navbar.search.text'}"
                    />
                </div>
            </div>


            <button data-name="headerBarSearchForm-showInputBtn"
                    class="headerBarSearchForm__btn btn-icon"
                    type="button"
            >
                <i class="fa-solid fa-magnifying-glass icon" aria-hidden="true"></i>
            </button>
        </form>
{/if}

{*    <div class="quiqqer-menu-megaMenu-mobile-search">*}
{*        <a href="{$searchUrl}" class="header-bar-search-link searchMobile">*}
{*            <i class="fa-solid fa-magnifying-glass header-bar-search-icon"></i>*}
{*        </a>*}
{*    </div>*}
