{assign var=Setting value=$Template->getAttribute('TemplateSetting')}
{assign var=Project value=$Site->getProject()}
{assign var=socialData value=$Setting->getAttribute('socialData')}
{assign var=showLangSelect value=$Setting->getAttribute('showLangSelect')}

<div class="header-bar-social hide-on-mobile">
    {fetch template="template/menu/search.html" Site=$Site Template=$Template}

    {foreach $socialData as $social}
        <a href="{$social.url}" target="_blank">
            <span class="fa {$social.icon}"></span>
        </a>
    {/foreach}

    {if $showLangSelect && $Setting->getAttribute('LangSelectControl')}
        {$Setting->getAttribute('LangSelectControl')->create()}
    {/if}

</div>