{assign var=Setting value=$Template->getAttribute('TemplateSetting')}
{assign var=socialData value=$Setting->getAttribute('socialData')}
{assign var=showSocial value=$Setting->getAttribute('showSocialInMenu')}
{assign var=showLangSelect value=$Setting->getAttribute('showLangSelect')}

<div class="header-bar__suffix hide-on-mobile">
    {fetch template="template/menu/search.html" Site=$Site Template=$Template}

    {if $showSocial && $socialData}
        <div class="header-bar__social">
            {fetch template="template/social.html" socialData=$socialData Site=$Site Template=$Template}
        </div>
    {/if}

    {if $showLangSelect && $Setting->getAttribute('LangSelectControl')}
        <div class="header-bar__langSwitch">
            {$Setting->getAttribute('LangSelectControl')->create()}
        </div>
    {/if}
</div>