.badge {
    --color: var(--qui-badge-color);
    --background-color: var(--qui-badge-bgColor);

    display: inline-block;
    padding: var(--qui-badge-padding-y) var(--qui-badge-padding-x);
    font-size: var(--qui-badge-fontSize--base);
    font-weight: var(--qui-badge-fontWeight);
    line-height: 1;
    color: var(--color);
    background-color: var(--background-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--qui-badge-borderRadius);
    font-style: normal;
}

/* colors */
.badge-primary {
    --qui-badge-bgColor: var(--qui-badge-primary-bgColor);
    --qui-badge-color: var(--qui-badge-primary-color);
}

.badge-primary-light {
    --qui-badge-bgColor: var(--qui-badge-primary-light-bgColor);
    --qui-badge-color: var(--qui-badge-primary-light-color);
}

.badge-secondary {
    --qui-badge-bgColor: var(--qui-badge-secondary-bgColor);
    --qui-badge-color: var(--qui-badge-secondary-color);
}

.badge-secondary-light {
    --qui-badge-bgColor: var(--qui-badge-secondary-light-bgColor);
    --qui-badge-color: var(--qui-badge-secondary-light-color);
}

.badge-success {
    --qui-badge-bgColor: var(--qui-badge-success-bgColor);
    --qui-badge-color: var(--qui-badge-success-color);
}

.badge-success-light {
    --qui-badge-bgColor: var(--qui-badge-success-light-bgColor);
    --qui-badge-color: var(--qui-badge-success-light-color);
}

.badge-danger {
    --qui-badge-bgColor: var(--qui-badge-danger-bgColor);
    --qui-badge-color: var(--qui-badge-danger-color);
}

.badge-danger-light {
    --qui-badge-bgColor: var(--qui-badge-danger-light-bgColor);
    --qui-badge-color: var(--qui-badge-danger-light-color);
}

.badge-warning {
    --qui-badge-bgColor: var(--qui-badge-warning-bgColor);
    --qui-badge-color: var(--qui-badge-warning-color);
}

.badge-warning-light {
    --qui-badge-bgColor: var(--qui-badge-warning-light-bgColor);
    --qui-badge-color: var(--qui-badge-warning-light-color);
}

.badge-info {
    --qui-badge-bgColor: var(--qui-badge-info-bgColor);
    --qui-badge-color: var(--qui-badge-info-color);
}

.badge-info-light {
    --qui-badge-bgColor: var(--qui-badge-info-light-bgColor);
    --qui-badge-color: var(--qui-badge-info-light-color);
}

.badge-light {
    --qui-badge-bgColor: var(--qui-badge-light-bgColor);
    --qui-badge-color: var(--qui-badge-light-color);
}

.badge-dark {
    --qui-badge-bgColor: var(--qui-badge-dark-bgColor);
    --qui-badge-color: var(--qui-badge-dark-color);
}

.badge-dark-light {
    --qui-badge-bgColor: var(--qui-badge-dark-light-bgColor);
    --qui-badge-color: var(--qui-badge-dark-light-color);
}

.badge-white {
    --qui-badge-bgColor: var(--qui-badge-white-bgColor);
    --qui-badge-color: var(--qui-badge-white-color);
}

/* rounded */
.badge-pill {
    border-radius: var(--qui-radius-pill);
}

/* sizing */
.badge-sm {
    font-size: 0.7em;
}

.badge-lg {
    font-size: 1em;
}