input[type="submit"],
input[type="button"],
input[type="reset"],
button.qui-button,
button,
a.qui-button,
.btn {
    --padding-block: 0.75em;
    --padding-inline: 1.25em;

    --color: var(--qui-btn-color, inherit);
    --background-color: var(--qui-btn-bgColor, transparent);
    --border-color: var(--qui-btn-borderColor, transparent);
    --color--hover: var(--qui-btn-color--hover, inherit);
    --background-color--hover: var(--qui-btn-bgColor--hover, transparent);
    --border-color--hover: var(--qui-btn-borderColor--hover, transparent);
    --color--disabled: var(--qui-btn-color--disabled, inherit);
    --background-color--disabled: var(--qui-btn-bgColor--disabled, transparent);
    --border-color--disabled: var(--qui-btn-borderColor--disabled, transparent);

    color: var(--color);
    background-color: var(--background-color);
    border-color: var(--border-color);

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--qui-btn-gap);
    font-weight: var(--qui-btn-fontWeight);
    border-width: var(--qui-btn-borderWidth);
    border-style: var(--qui-btn-borderStyle);
    border-radius: var(--qui-btn-borderRadius);
    transition: var(--qui-btn-transition);

    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding: var(--padding-block) var(--padding-inline);
    font-size: 1em;
    line-height: 1.25;
    cursor: pointer;
    text-decoration: none;
    font-family: var(--qui-font-family, inherit), sans-serif;

    -webkit-box-shadow: none; /* qui-button reset */
    -moz-box-shadow: none; /* qui-button reset */
    box-shadow: none; /* qui-button reset */
    float: none; /* qui-button reset */
}

.btn:hover,
.btn:active {
    color: var(--color--hover);
    background-color: var(--background-color--hover);
    border-color: var(--border-color--hover);
    outline: none;
    text-decoration: none;
}

/**
 * Button primary
 */
.btn-primary {
    --qui-btn-color: var(--qui-btn-primary-color);
    --qui-btn-bgColor: var(--qui-btn-primary-bg);
    --qui-btn-borderColor: var(--qui-btn-primary-borderColor);
    --qui-btn-color--hover: var(--qui-btn-primary-color--hover);
    --qui-btn-bgColor--hover: var(--qui-btn-primary-bg--hover);
    --qui-btn-borderColor--hover: var(--qui-btn-primary-borderColor--hover);
    --qui-btn-color--disabled: var(--qui-btn-primary-color--disabled);
    --qui-btn-bgColor--disabled: var(--qui-btn-primary-bg--disabled);
    --qui-btn-borderColor--disabled: var(--qui-btn-primary-borderColor--disabled);
}

.btn-primary-outline {
    --qui-btn-color: var(--qui-btn-primary-outline-color);
    --qui-btn-bgColor: var(--qui-btn-primary-outline-bg);
    --qui-btn-borderColor: var(--qui-btn-primary-outline-borderColor);
    --qui-btn-color--hover: var(--qui-btn-primary-outline-color--hover);
    --qui-btn-bgColor--hover: var(--qui-btn-primary-outline-bg--hover);
    --qui-btn-borderColor--hover: var(--qui-btn-primary-outline-borderColor--hover);
    --qui-btn-color--disabled: var(--qui-btn-primary-outline-color--disabled);
    --qui-btn-bgColor--disabled: var(--qui-btn-primary-outline-bg--disabled);
    --qui-btn-borderColor--disabled: var(--qui-btn-primary-outline-borderColor--disabled);
}

/**
 * Button secondary
 */
.btn-secondary {
    --qui-btn-color: var(--qui-btn-secondary-color);
    --qui-btn-bgColor: var(--qui-btn-secondary-bg);
    --qui-btn-borderColor: var(--qui-btn-secondary-borderColor);
    --qui-btn-color--hover: var(--qui-btn-secondary-color--hover);
    --qui-btn-bgColor--hover: var(--qui-btn-secondary-bg--hover);
    --qui-btn-borderColor--hover: var(--qui-btn-secondary-borderColor--hover);
    --qui-btn-color--disabled: var(--qui-btn-secondary-color--disabled);
    --qui-btn-bgColor--disabled: var(--qui-btn-secondary-bg--disabled);
    --qui-btn-borderColor--disabled: var(--qui-btn-secondary-borderColor--disabled);
}

.btn-secondary-outline {
    --qui-btn-color: var(--qui-btn-secondary-outline-color);
    --qui-btn-bgColor: var(--qui-btn-secondary-outline-bg);
    --qui-btn-borderColor: var(--qui-btn-secondary-outline-borderColor);
    --qui-btn-color--hover: var(--qui-btn-secondary-outline-color--hover);
    --qui-btn-bgColor--hover: var(--qui-btn-secondary-outline-bg--hover);
    --qui-btn-borderColor--hover: var(--qui-btn-secondary-outline-borderColor--hover);
    --qui-btn-color--disabled: var(--qui-btn-secondary-outline-color--disabled);
    --qui-btn-bgColor--disabled: var(--qui-btn-secondary-outline-bg--disabled);
    --qui-btn-borderColor--disabled: var(--qui-btn-secondary-outline-borderColor--disabled);
}

/**
 * Button success
 */
.btn-success {
    --qui-btn-color: var(--qui-btn-success-color);
    --qui-btn-bgColor: var(--qui-btn-success-bg);
    --qui-btn-borderColor: var(--qui-btn-success-borderColor);
    --qui-btn-color--hover: var(--qui-btn-success-color--hover);
    --qui-btn-bgColor--hover: var(--qui-btn-success-bg--hover);
    --qui-btn-borderColor--hover: var(--qui-btn-success-borderColor--hover);
    --qui-btn-color--disabled: var(--qui-btn-success-color--disabled);
    --qui-btn-bgColor--disabled: var(--qui-btn-success-bg--disabled);
    --qui-btn-borderColor--disabled: var(--qui-btn-success-borderColor--disabled);
}

.btn-success-outline {
    --qui-btn-color: var(--qui-btn-success-outline-color);
    --qui-btn-bgColor: var(--qui-btn-success-outline-bg);
    --qui-btn-borderColor: var(--qui-btn-success-outline-borderColor);
    --qui-btn-color--hover: var(--qui-btn-success-outline-color--hover);
    --qui-btn-bgColor--hover: var(--qui-btn-success-outline-bg--hover);
    --qui-btn-borderColor--hover: var(--qui-btn-success-outline-borderColor--hover);
    --qui-btn-color--disabled: var(--qui-btn-success-outline-color--disabled);
    --qui-btn-bgColor--disabled: var(--qui-btn-success-outline-bg--disabled);
    --qui-btn-borderColor--disabled: var(--qui-btn-success-outline-borderColor--disabled);
}

/**
 * Button danger
 */
.btn-danger {
    --qui-btn-color: var(--qui-btn-danger-color);
    --qui-btn-bgColor: var(--qui-btn-danger-bg);
    --qui-btn-borderColor: var(--qui-btn-danger-borderColor);
    --qui-btn-color--hover: var(--qui-btn-danger-color--hover);
    --qui-btn-bgColor--hover: var(--qui-btn-danger-bg--hover);
    --qui-btn-borderColor--hover: var(--qui-btn-danger-borderColor--hover);
    --qui-btn-color--disabled: var(--qui-btn-danger-color--disabled);
    --qui-btn-bgColor--disabled: var(--qui-btn-danger-bg--disabled);
    --qui-btn-borderColor--disabled: var(--qui-btn-danger-borderColor--disabled);
}

.btn-danger-outline {
    --qui-btn-color: var(--qui-btn-danger-outline-color);
    --qui-btn-bgColor: var(--qui-btn-danger-outline-bg);
    --qui-btn-borderColor: var(--qui-btn-danger-outline-borderColor);
    --qui-btn-color--hover: var(--qui-btn-danger-outline-color--hover);
    --qui-btn-bgColor--hover: var(--qui-btn-danger-outline-bg--hover);
    --qui-btn-borderColor--hover: var(--qui-btn-danger-outline-borderColor--hover);
    --qui-btn-color--disabled: var(--qui-btn-danger-outline-color--disabled);
    --qui-btn-bgColor--disabled: var(--qui-btn-danger-outline-bg--disabled);
    --qui-btn-borderColor--disabled: var(--qui-btn-danger-outline-borderColor--disabled);
}

/**
 * Button warning
 */
.btn-warning {
    --qui-btn-color: var(--qui-btn-warning-color);
    --qui-btn-bgColor: var(--qui-btn-warning-bg);
    --qui-btn-borderColor: var(--qui-btn-warning-borderColor);
    --qui-btn-color--hover: var(--qui-btn-warning-color--hover);
    --qui-btn-bgColor--hover: var(--qui-btn-warning-bg--hover);
    --qui-btn-borderColor--hover: var(--qui-btn-warning-borderColor--hover);
    --qui-btn-color--disabled: var(--qui-btn-warning-color--disabled);
    --qui-btn-bgColor--disabled: var(--qui-btn-warning-bg--disabled);
    --qui-btn-borderColor--disabled: var(--qui-btn-warning-borderColor--disabled);
}

.btn-warning-outline {
    --qui-btn-color: var(--qui-btn-warning-outline-color);
    --qui-btn-bgColor: var(--qui-btn-warning-outline-bg);
    --qui-btn-borderColor: var(--qui-btn-warning-outline-borderColor);
    --qui-btn-color--hover: var(--qui-btn-warning-outline-color--hover);
    --qui-btn-bgColor--hover: var(--qui-btn-warning-outline-bg--hover);
    --qui-btn-borderColor--hover: var(--qui-btn-warning-outline-borderColor--hover);
    --qui-btn-color--disabled: var(--qui-btn-warning-outline-color--disabled);
    --qui-btn-bgColor--disabled: var(--qui-btn-warning-outline-bg--disabled);
    --qui-btn-borderColor--disabled: var(--qui-btn-warning-outline-borderColor--disabled);
}

/**
 * Button info
 */
.btn-info {
    --qui-btn-color: var(--qui-btn-info-color);
    --qui-btn-bgColor: var(--qui-btn-info-bg);
    --qui-btn-borderColor: var(--qui-btn-info-borderColor);
    --qui-btn-color--hover: var(--qui-btn-info-color--hover);
    --qui-btn-bgColor--hover: var(--qui-btn-info-bg--hover);
    --qui-btn-borderColor--hover: var(--qui-btn-info-borderColor--hover);
    --qui-btn-color--disabled: var(--qui-btn-info-color--disabled);
    --qui-btn-bgColor--disabled: var(--qui-btn-info-bg--disabled);
    --qui-btn-borderColor--disabled: var(--qui-btn-info-borderColor--disabled);
}

.btn-info-outline {
    --qui-btn-color: var(--qui-btn-info-outline-color);
    --qui-btn-bgColor: var(--qui-btn-info-outline-bg);
    --qui-btn-borderColor: var(--qui-btn-info-outline-borderColor);
    --qui-btn-color--hover: var(--qui-btn-info-outline-color--hover);
    --qui-btn-bgColor--hover: var(--qui-btn-info-outline-bg--hover);
    --qui-btn-borderColor--hover: var(--qui-btn-info-outline-borderColor--hover);
    --qui-btn-color--disabled: var(--qui-btn-info-outline-color--disabled);
    --qui-btn-bgColor--disabled: var(--qui-btn-info-outline-bg--disabled);
    --qui-btn-borderColor--disabled: var(--qui-btn-info-outline-borderColor--disabled);
}

/**
 * Button dark
 */
.btn-dark {
    --qui-btn-color: var(--qui-btn-dark-color);
    --qui-btn-bgColor: var(--qui-btn-dark-bg);
    --qui-btn-borderColor: var(--qui-btn-dark-borderColor);
    --qui-btn-color--hover: var(--qui-btn-dark-color--hover);
    --qui-btn-bgColor--hover: var(--qui-btn-dark-bg--hover);
    --qui-btn-borderColor--hover: var(--qui-btn-dark-borderColor--hover);
    --qui-btn-color--disabled: var(--qui-btn-dark-color--disabled);
    --qui-btn-bgColor--disabled: var(--qui-btn-dark-bg--disabled);
    --qui-btn-borderColor--disabled: var(--qui-btn-dark-borderColor--disabled);
}

.btn-dark-outline {
    --qui-btn-color: var(--qui-btn-dark-outline-color);
    --qui-btn-bgColor: var(--qui-btn-dark-outline-bg);
    --qui-btn-borderColor: var(--qui-btn-dark-outline-borderColor);
    --qui-btn-color--hover: var(--qui-btn-dark-outline-color--hover);
    --qui-btn-bgColor--hover: var(--qui-btn-dark-outline-bg--hover);
    --qui-btn-borderColor--hover: var(--qui-btn-dark-outline-borderColor--hover);
    --qui-btn-color--disabled: var(--qui-btn-dark-outline-color--disabled);
    --qui-btn-bgColor--disabled: var(--qui-btn-dark-outline-bg--disabled);
    --qui-btn-borderColor--disabled: var(--qui-btn-dark-outline-borderColor--disabled);
}

/**
 * Button light
 */
.btn-light {
    --qui-btn-color: var(--qui-btn-light-color);
    --qui-btn-bgColor: var(--qui-btn-light-bg);
    --qui-btn-borderColor: var(--qui-btn-light-borderColor);
    --qui-btn-color--hover: var(--qui-btn-light-color--hover);
    --qui-btn-bgColor--hover: var(--qui-btn-light-bg--hover);
    --qui-btn-borderColor--hover: var(--qui-btn-light-borderColor--hover);
    --qui-btn-color--disabled: var(--qui-btn-light-color--disabled);
    --qui-btn-bgColor--disabled: var(--qui-btn-light-bg--disabled);
    --qui-btn-borderColor--disabled: var(--qui-btn-light-borderColor--disabled);
}

.btn-light-outline {
    --qui-btn-color: var(--qui-btn-light-outline-color);
    --qui-btn-bgColor: var(--qui-btn-light-outline-bg);
    --qui-btn-borderColor: var(--qui-btn-light-outline-borderColor);
    --qui-btn-color--hover: var(--qui-btn-light-outline-color--hover);
    --qui-btn-bgColor--hover: var(--qui-btn-light-outline-bg--hover);
    --qui-btn-borderColor--hover: var(--qui-btn-light-outline-borderColor--hover);
    --qui-btn-color--disabled: var(--qui-btn-light-outline-color--disabled);
    --qui-btn-bgColor--disabled: var(--qui-btn-light-outline-bg--disabled);
    --qui-btn-borderColor--disabled: var(--qui-btn-light-outline-borderColor--disabled);
}

/**
 * Button white
 */
.btn-white {
    --qui-btn-color: var(--qui-btn-white-color);
    --qui-btn-bgColor: var(--qui-btn-white-bg);
    --qui-btn-borderColor: var(--qui-btn-white-borderColor);
    --qui-btn-color--hover: var(--qui-btn-white-color--hover);
    --qui-btn-bgColor--hover: var(--qui-btn-white-bg--hover);
    --qui-btn-borderColor--hover: var(--qui-btn-white-borderColor--hover);
    --qui-btn-color--disabled: var(--qui-btn-white-color--disabled);
    --qui-btn-bgColor--disabled: var(--qui-btn-white-bg--disabled);
    --qui-btn-borderColor--disabled: var(--qui-btn-white-borderColor--disabled);
}

.btn-white-outline {
    --qui-btn-color: var(--qui-btn-white-outline-color);
    --qui-btn-bgColor: var(--qui-btn-white-outline-bg);
    --qui-btn-borderColor: var(--qui-btn-white-outline-borderColor);
    --qui-btn-color--hover: var(--qui-btn-white-outline-color--hover);
    --qui-btn-bgColor--hover: var(--qui-btn-white-outline-bg--hover);
    --qui-btn-borderColor--hover: var(--qui-btn-white-outline-borderColor--hover);
    --qui-btn-color--disabled: var(--qui-btn-white-outline-color--disabled);
    --qui-btn-bgColor--disabled: var(--qui-btn-white-outline-bg--disabled);
    --qui-btn-borderColor--disabled: var(--qui-btn-white-outline-borderColor--disabled);
}

/**
 * Button link
 */
.btn-link {
    --qui-btn-color: var(--qui-btn-link-color);
    --qui-btn-bgColor: transparent;
    --qui-btn-borderColor: transparent;
    --qui-btn-color--hover: var(--qui-btn-link-color--hover);
    --qui-btn-bgColor--hover: var(--qui-btn-link-bg--hover);
    --qui-btn-borderColor--hover: transparent;
    --qui-btn-color--disabled: var(--qui-btn-white-color--disabled);
    --qui-btn-bgColor--disabled: transparent;
    --qui-btn-borderColor--disabled: transparent;
}

/*
 * button link - it takes the inherited color
 */
.btn-link-body {
    --qui-btn-color: var(--qui-btn-link-body-color);
    --qui-btn-bgColor: transparent;
    --qui-btn-borderColor: transparent;
    --qui-btn-color--hover: var(--qui-btn-link-body-color--hover);
    --qui-btn-bgColor--hover: var(--qui-btn-link-body-bg--hover);
    --qui-btn-borderColor--hover: transparent;
    --qui-btn-color--disabled: var(--qui-btn-link-body-color--disabled);
    --qui-btn-bgColor--disabled: transparent;
    --qui-btn-borderColor--disabled: transparent;
}

/**
 * Button disabled
 */
[disabled],
.disabled {
    cursor: not-allowed;
    --qui-btn-color: var(--qui-btn-color--disabled);
    --qui-btn-bgColor: var(--qui-btn-bgColor--disabled);
    --qui-btn-borderColor: var(--qui-btn-borderColor--disabled);
    --qui-btn-color--hover: var(--qui-btn-color--disabled);
    --qui-btn-bgColor--hover: var(--qui-btn-bgColor--disabled);
    --qui-btn-borderColor--hover: var(--qui-btn-borderColor--disabled);
}

/**
 * Button sizes
 */
.btn-sm {
    --padding-block: 0.5em;
    --padding-inline: 1em;

    font-size: .875em;
}

.btn-lg {
    gap: 1em;
    font-size: 1.25em;
}

/**
 * Button icon
 */
.btn.btn-icon {
    aspect-ratio: 1;
}

.btn.btn-rounded {
    border-radius: 10em;
}