{assign var=TS value=$Template->getAttribute('TemplateSetting')}
{assign var=showHeader value=$TS->getAttribute('showHeader')}

{if $showHeader}
{strip}
    {template_event name="quiqqer::template::body::header::before" Template=$Template}
    <header class="page-header">
        {template_event name="quiqqer::template::body::header::start" Template=$Template}

        {if $Site->getAttribute('image_emotion')}
            <div class="page-header__imageWrapper">
                {image src=$Site->getAttribute('image_emotion') width=4000 class="page-header__image"}
            </div>
        {/if}
        <div class="page-header__container">
            {if $showPageTitle || $showPageShort}
                <div class="page-header-text grid-container">
                    {if $showPageTitle}
                        <h1 class="page-header-text__title">
                            {$Site->getAttribute('title')}
                        </h1>
                    {/if}

                    {if $showPageShort}
                        <div class="page-header-text__short">
                            {$Site->getAttribute('short')|nl2br}
                        </div>
                    {/if}
                </div>
            {/if}
        </div>

        {template_event name="quiqqer::template::body::header::end" Template=$Template}
    </header>
    {template_event name="quiqqer::template::body::header::after" Template=$Template}
{/strip}
{/if}